- title 'AdhearsionConf 2012', false

.inner
  .full-width
    .three-fourth
      %h1 AdhearsionConf 2012
      #conference-content
        %p The third AdhearsionConf will be held in Palo Alto at the stylish digs of the AT&T Foundry on the weekend of October 20-21, 2012.  For the first time we are also offering a full day of hands-on training the day before the conference, led by the Adhearsion core team.
 
        %p
          %a{:href => "http://twitter.com/bklang"}> Ben Klang
          ,
          %a{:href => "http://twitter.com/benlangfeld"} Ben Langfeld
          and&nbsp;
          %a{:href => "http://twitter.com/jsgoecke"}> Jason Goecke
          , the team behind Adhearsion, will all be on hand for two days of talks, knowledge sharing and even some pair programming on all things Ruby and Telephony.  There will also be presentations from members of the Adhearsion community on interesting Adhearsion deployments, Adhearsion at scale, and more.  Of special interest this year is the all-new world of Adhearsion 2.0.  First announced at the last AdhearsionConf, Adhearsion 2.0 brings a new world of functionality and even more Ruby to bear on the voice application domain.  We will go in depth on the new features of Adhearsion 2.0 throughout the weekend.
 
        %h2 Who should attend AdhearsionConf 2012?
        %ul
          %li Ruby developers who are already using Adhearsion
          %li Asterisk or FreeSWITCH users who need to create sophisticated functionality
          %li Telephony developers who are sure there MUST be a better way than all that XML...
          %li Web 2.0 developers who would like to better understand how they can use Adhearsion and Ruby to open up their applications to a whole new audience and style of interaction.
 
        %h2
          %a{:name => "training"}
          Adhearsion Training
        %p
          For the first time, the developers behind the Adhearsion project are offering a full day of hands-on training.  Led by Ben Klang and Ben Langfeld, this intense 8-hour course will cover everything needed to get started and make the most of the Adhearsion framework.  The course will include:
        %ul
          %li
            Installation of the telephony engine (
            %a{:href => "http://voxeolabs.com/prism"}> PRISM
            ,
            %a{:href => "http://asterisk.org"} Asterisk
            or 
            %a{:href => "http://freeswitch.org"} FreeSWITCH
            )
          %li Installation and configuration of the Adhearsion framework
          %li Theory of operation for an Adhearsion application
          %li Implementing your custom CallControllers
          %li Testing for CallControllers and Adhearsion apps
          %li Best practices for deploying your Adhearsion app

        %br
        %p Ready to turbo-charge your Adhearsion experience? Purchase your Adhearsion Training tickets here!

        %div{:style => "width:100%; text-align:left;"}
          %iframe{:src => "http://www.eventbrite.com/tickets-external?eid=3906536556&ref=etckt", :frameborder => "0", :height => "356", :width => "100%", :vspace => "0", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :allowtransparency=> "true"}
            %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
              %a{:style => "color:#ddd; text-decoration:none;", :target => "_blank", :href => "http://www.eventbrite.com/r/etckt"} Online Ticketing
              %span{:style => "color:#ddd;"} for
              %a{:style => "color:#ddd; text-decoration:none;", :target => "_blank", :href => "http://http://adhearsionconf2012.eventbrite.com?ref=etckt"} AdhearsionConf 2012
              %span{:style => "color:#ddd;"} powered by
              %a{:style => "color:#ddd; text-decoration:none;", :target => "_blank", :href => "http://www.eventbrite.com?ref=etckt"} Eventbrite

        %h2 What about a place to stay?
        %p Stay tuned! We're working on a group booking arrangement.
        
        %h2
          %a{:name => "schedule"} Conference Program
        %p
          The
          %a{:href => 'http://mojolingo.wufoo.com/forms/adhearsionconf-2012-call-for-speakers/'} call for proposals
          is currently open. To be considered for the 2012 program please
          %a{:href => 'http://mojolingo.wufoo.com/forms/adhearsionconf-2012-call-for-speakers/'} submit a proposal.
          Speakers will be announced on September 10th.
    .one-fourth.last
      %h2 Thanks to our sponsors
      %h3 Core Sponsors
      %h3 Edge Sponsors
      %p.extra-padding-left
        %a{:href => "http://mojolingo.com/"}
          %img{:src => "/images/sponsors/sponsor_mojolingo.jpg", :width => "220", :alt => "Mojo Lingo"}
      %h3 Network Element Sponsors
    .clear

%a{:href => "#", :id => "main-nav-active", :style => "display:none;"} #main-nav-conference
