- title "AdhearsionConf 2012 - LIVE Video Stream"

%p
  %a{:href => '/conference'} AdhearsionConf Schedule

%p
  The AdhearsionConf 2012 Live Stream will return. Tune in October 20 and 21 for great presentations from the Adhearsion community.

/%object{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :width => "440", :height => "271", :id => "utv427147"}
/  %param{:name => "flashvars", :value => "autoplay=false&brand=embed&cid=9448627&v3=1"}
/  %param{:name => "allowfullscreen", :value => "true"}
/  %param{:name => "allowscriptaccess", :value => "always"}
/  %param{:name => "movie", :value => "http://www.ustream.tv/flash/viewer.swf"}
/  %embed{:flashvars => "autoplay=false&brand=embed&cid=9448627&v3=1", :width => "440", :height => "271", :allowfullscreen => "true", :allowscriptaccess => "always", :id => "utv427147", :name => "utv_n_963705", :src => "http://www.ustream.tv/flash/viewer.swf", :type => "application/x-shockwave-flash"}

/%iframe{:width => "440", :scrolling => "no", :height => "586", :frameborder => "0", :style => "border: 0px none transparent;", :src => "http://www.ustream.tv/socialstream/9448627"}
