- title "Adhearsion Cloud", false

.lrdiscoverwidget{:rel => "LC7JDCXZ", :'data-logo' => "on", :'data-background' => "on", :'data-share-url' => "adhearsion.com/cloud", :'data-css' => ""}

%script{:type => "text/javascript", :src => "http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"}

%a{:href => "#", :id => "main-nav-active", :style => "display:none;"} #main-nav-home
