- title "Community", false

.inner
  .full-width
    .three-fourth.last
      %h1 Community
      %h4.pb20 Adhearsion has a strong community of developers and users ready to help if you get stuck! Get involved here:

      %table.three-fourth.data-table-vertical{:style => 'border: none;'}
        %tr
          %td.right
            %h3
              %a{:href => "https://groups.google.com/group/adhearsion"} Mailing List
          %td
            %h5 Ask a whole bunch of questions here
        %tr
          %td.right
            %h3
              %a{:href => "https://github.com/adhearsion/adhearsion/issues"} Issue Tracker
          %td
            %h5 Ask a whole bunch of questions here
        %tr
          %td.right
            %h3
              %a{:href => "http://ahnhub.com"} AHNHub.com
          %td
            %h5 Ask a whole bunch of questions here
        %tr
          %td.right
            %h3
              %a{:href => "/irc"} IRC
          %td
            %h5 Ask a whole bunch of questions here

    .clear

%a{:href => "#", :id => "main-nav-active", :style => "display:none;"} #main-nav-community
