.docs
  .full-width
    .outer-rounded-box-bold.docs-nav-box
      .inner-rounded-box-filled-grey.clearfix
        %h3 Documentation
        %ul.collapsibleList
          %li#docs-nav-getting-started
            Getting Started
            %ul
              %li#docs-nav-getting-started-prerequisites
                %a{:href => "/docs/getting-started/prerequisites"} Prerequisites
              %li#docs-nav-getting-started-installation
                %a{:href => "/docs/getting-started/installation"} Installation
                %ul
                  %li#docs-nav-getting-started-installation-asterisk
                    %a{:href => "/docs/getting-started/asterisk"} Asterisk
                  %li#docs-nav-getting-started-installation-freeswitch
                    %a{:href => "/docs/getting-started/freeswitch"} FreeSWITCH
                  %li#docs-nav-getting-started-installation-prism
                    %a{:href => "/docs/getting-started/prism"} Voxeo PRISM
          %li#docs-nav-console
            %a{:href => "/docs/console"} Console
          %li#docs-nav-call-controller
            %a{:href => "/docs/call-controllers"} Call Controllers
          %li#docs-nav-routing
            %a{:href => "/docs/routing"} Routing
          %li#docs-nav-config
            %a{:href => "/docs/config"} Config
          %li#docs-nav-events
            %a{:href => "/docs/events"} Events
          %li#docs-nav-logging
            %a{:href => "/docs/logging"} Logging
          %li#docs-nav-plugins
            %a{:href => "/docs/plugins"} Plugins
          %li#docs-nav-best-practices
            Best Practices
            %ul
              %li#docs-nav-best-practices-testing
                %a{:href => "/docs/best-practices/testing"} Testing
              %li#docs-nav-best-practices-deployment
                %a{:href => "/docs/best-practices/deployment"} Deployment
              %li#docs-nav-best-practices-sysadmin
                %a{:href => "/docs/best-practices/sysadmin"} Notes for System Administrators
              %li#docs-nav-best-practices-rails
                %a{:href => "/docs/best-practices/rails"} Rails Integration
          %li#docs-nav-upgrading
            %a{:href => "/docs/upgrading"} Upgrading
          %li#docs-nav-common-problems
            %a{:href => "/docs/common_problems"} Common Problems
          %li#docs-nav-dealing-with-bugs
            %a{:href => "/docs/dealing-with-bugs"} Dealing with bugs
          %li#docs-nav-contributing
            %a{:href => "/docs/contributing"} Contributing
          %li#docs-nav-api
            %a{:href => "/api"} API Documentation

    .docs-body
      ~ docs

    #disqus_thread
    :javascript
      var disqus_shortname = 'adhearsion';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

    %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    %a.dsq-brlink{:href => "http://disqus.com"}
      blog comments powered by
      %span.logo-disqus Disqus

    .clear

%a#main-nav-active{:href => "#", :style => "display:none;"} #main-nav-docs

