- title "Features", false

.inner

  .gradient-down.pb30
    .full-width
      .one-full
        .add-extra-padding-right.add-extra-padding-left
          %h1.center.mb0 Maecenas Features libero cur cursus
          %h3.center.mb20 Dignissim in, cursus ut FREE purus libero

        .mb30.hr

      .clear
      .two-fourth
        %h4
          Maecenas purus libero, cur cursus ut
          %a{:href => "#"} purus libero sus
          ut purus libero dignissim in, cursus ut purus libero, adipiscing vel enim.
        %ul.checklist
          %li Maecenas purus libero, cur cursus ut
          %li
            Ut dignissim in,
            %span.highlight1 cursus ut purus
            libero, adipiscing
          %li Cursus ut purus libero, adipiscing vel enim
          %li Dignissim in, cursus ut purus libero, adipiscing
        %img.mt10{:src => "/images/icons/air-and-safari.png", :width => "445", :height => "222", :alt => ""}

      .one-fourth
        %img{:src => "/images/icons/htc-phones-smaller.png", :width => "201", :height => "256", :alt => ""}
        .icon-to-left
          %img{:src => "/images/icons/key.png", :width => "22", :height => "22", :alt => ""}
        %h4 For Android
        %p
          Aenean vitae metus vitae dolor metus, vitae pulvinar eros. Nullam vitae dolor metus erat lacus,
          %span.highlight1 sollicitudin
          non varius eget, commodo a est.
        %a.btn-big-action-fixed{:href => "#", :id => "trigger1_up"}
          %span Get It For Android
        .clear
        %div#tip1_up{:style => "display:none;"}
          .tip{:style => "width:240px;"}
            %h4 Another Info Tooltip
            %p Lorem ipsum dolor sit amet, consectetur adipiscing vitae dolor metus, vitae pulvinar.

      .one-fourth
        %img{:src => "/images/icons/apple-phones-smaller.png", :width => "201", :height => "256", :alt => ""}
        .icon-to-left
          %img{:src => "/images/icons/recycle.png", :width => "22", :height => "22", :alt => ""}
        %h4 For iPhone
        %p
          Sectetur
          %span.highlight2
            adipiscing elie.
          Aenean vitae dolor metus, vitae pulvinar vitae dolor eros. Nullam erat lacus, sollicitudin non varius eget, commodo a est.
        %a.btn-big-action-fixed{:href => "#", :id => "trigger2_up"}
          %span Get It For iPhone
        .clear
        %div#tip2_up{:style => "display:none;"}
          .tip{:style => "width:240px;"}
            %h4 Some Info Tooltip
            %p Lorem ipsum dolor sit amet, consectetur adipiscing vitae dolor metus, vitae pulvinar.
      .clear

  .gradient-up-with-border
    .full-width.pt30.pb20
      .one-fourth
        %a.picture-frame-fourth{:href => "/images/misc/picture1.jpg", :rel => "prettyPhoto[gallery]"}
          %img.captify{:src => "/images/misc/picture1.jpg", :width => "194", :height => "133", :alt => "Alt Caption Trouble"}
          %span.small-plus
          %span.description Dorem Misum Lorem

      .one-fourth
        %a.picture-frame-fourth{:href => "/images/misc/picture2.jpg", :rel => "prettyPhoto[gallery]"}
          %img.captify{:src => "/images/misc/picture2.jpg", :width => "194", :height => "133", :alt => "Alt Caption Trouble"}
          %span.small-plus
          %span.description Dorem Misum Lorem

      .one-fourth
        %a.picture-frame-fourth{:href => "http://www.youtube.com/watch?v=GK7mkXX33eY", :rel => "prettyPhoto[gallery]"}
          %img.captify{:src => "/images/misc/picture3.jpg", :width => "194", :height => "133", :alt => "Alt Caption Trouble"}
          %span.small-play
          %span.description Dorem Misum Lorem

      .one-fourth
        %a.picture-frame-fourth{:href => "/images/misc/picture4.jpg", :rel => "prettyPhoto[gallery]"}
          %img.captify{:src => "/images/misc/picture4.jpg", :width => "194", :height => "133", :alt => "Alt Caption Trouble"}
          %span.small-plus
          %span.description Dorem Misum Lorem

      .clear

  .gradient-up-with-border
    .full-width.pt20.pb20

      .one-full
        %h2.center.mb20
          Maecenas purus libero, cur cursus ut
          %a{:href => "#"} purus libero sus
          ut dignissim in, cursus ut purus libero, adipiscing vel enim.
        %ul.feature-list-smaller
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/tools.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/id.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Ut quis mauris at
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/key.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li.last
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/recycle.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Ut quis mauris at
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/key.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/recycle.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Ut quis mauris at
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/tools.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          %li.last
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/id.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Ut quis mauris at
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.

        .clear
      .clear

      .one-half
        .fl
          %a.btn-small-neutral{:href => "#"}
            %span Some Neutral Button
          %a.btn-small-action{:href => "#", :style => "margin-right:0px"}
            %span Download for Android

      .one-half
        .fl
          %a.btn-small-neutral{:href => "#"}
            %span Some Neutral Button
          %a.btn-small-action{:href => "#", :style => "margin-right:0px"}
            %span Download for iPhone
      .clear
