- title "Adhearsion Foundation"

%p The Adhearsion Foundation Inc is a US 501(c)(3) not-for-profit corporation whose purpose is to support the Adhearsion Project and associated projects.

%p
  The foundation's goals are to:
  %ul
    %li Support development of its projects by sponsoring sprints, conferences, meetups, gatherings and community events.
    %li Promote the use of Adhearsion among the voice/communications application development community.
    %li Protect the intellectual property and the projects' long-term viability.
    %li Advance the state of the art in voice application development.

%h2 Corporate Members

%p
  The Django Software Foundation would not be able to operate without the generous financial support of our corporate members. If you are interested in becoming a corporate member of the Adhearsion Foundation,
  %a{:href => "mailto:foundation@adhearsion.com"} email us.

%h3 Current members
%ul
  %li Mojo Lingo LLC
  %li Voxeo Labs Inc

%h2 Developer Members

%p Developer members are appointed to the Adhearsion Foundation in recognition of their contributions to the communities of the Foundation's projects. If you know of someone that you think should be a developer member, get in touch and the board will consider adding them.

%ul
  %li
    %a{:href => "http://github.com/polysics"} Luca Pradovera

%h2 Board

%p
  The board of directors is:

  %ul
    %li
      %a{:href => "http://github.com/bklang"} Ben Klang
      (Principal, Mojo Lingo)
    %li
      %a{:href => "http://github.com/jsgoecke"} Jason Goecke
      (President, Voxeo Labs)
    %li
      %a{:href => "http://langfeld.me"} Ben Langfeld
      (Voice Application Architect, Mojo Lingo)

%h2 Officers

%ul
  %li President: Ben Klang
  %li Secretary: Jason Goecke
  %li Treasurer: Ben Langfeld

%h2 Projects

%ul
  %li
    %a{:href => "/"} Adhearsion
  %li
    %a{:href => "http://adhearsion.github.com/punchblock/"} Punchblock
  %li
    %a{:href => "https://github.com/adhearsion/ruby_ami"} RubyAMI
  %li
    %a{:href => "https://github.com/adhearsion/ruby_fs"} RubyFS
  %li
    %a{:href => "/blather"} Blather
  %li
    %a{:href => "http://adhearsion.github.com/has-guarded-handlers"} has-guarded-handlers
  / %li
  /   %a{:href => "https://github.com/benlangfeld/ruby_speech"} RubySpeech
