- title "Google Summer of Code 2013", false

.inner
  .full-width
    .two-third
      %h1 Google Summer of Code 2013

      %h2 Project Ideas
      %p Adhearsion has many large features that would assist people in developing their applications with greater ease or which would allow new uses of Adhearsion which are not currently possible.

      %table.two-third.data-table-vertical{:style => 'border: none;'}
        %tr
          %td.right
            %h3 Internationalization
          %td
            %p Support for internationalisation built in to the framework as a first class feature, ensuring that applications are built internationalisation-ready by default with little effort. Should include both prompt files and TTS, and allow for a variety of methods for adding languages to an application, including a UI.
        %tr
          %td.right
            %h3 Speech Recognition
          %td
            %p Including DSL methods for collecting and interpreting speech, and renovating the existing input methods to do barge-in correctly.

      %h2 How do I apply as a student?
      %p
        Send an email to
        %a{:href => "mailto:gsoc@adhearsion.com"} gsoc@adhearsion.com
        with your ideas or proposal to start the conversation.
    .one-third.last
      %h1.extra-padding-left Mentors
      %p.extra-padding-left
        %a{:href => "http://langfeld.me"}
          %img{:src => "/images/ben_langfeld.jpg", :width => "128", :height => "128", :alt => "Ben Langfeld"}
          Ben Langfeld
      %p.extra-padding-left
        %a{:href => "http://github.com/bklang"}
          %img{:src => "/images/ben_klang.jpg", :width => "128", :height => "128", :alt => "Ben Klang"}
          Ben Klang
      %p.extra-padding-left
        Want to volunteer as a mentor? Email
        %a{:href => "mailto:gsoc@adhearsion.com"} gsoc@adhearsion.com

    .clear

%a{:href => "#", :id => "main-nav-active", :style => "display:none;"} #main-nav-gsoc
