- title "Google Summer of Code 2015", false

.inner
  .full-width
    .two-third
      %h1 Google Summer of Code 2015

      %p
        The Adhearsion Foundation will apply to the Google Summer of Code programme in conjunction with rubygsoc. Please feel free to peruse the ideas below. Please also feel free to
        %a{:href => "http://adhearsion.com/community"} comment on these ideas
        or suggest others.

      %h2 Project Ideas
      %p Adhearsion has many large features that would assist people in developing their applications with greater ease or which would allow new uses of Adhearsion which are not currently possible.

      %h3 Adhearsion Core Framework

      %table.two-third.data-table-vertical{:style => 'border: none;'}
        %tr
          %td.right
            %h3 Internationalization
          %td
            %p Support for internationalisation built in to the framework as a first class feature, ensuring that applications are built internationalisation-ready by default with little effort. Should include both prompt files and TTS, and allow for a variety of methods for adding languages to an application, including a UI. See https://github.com/adhearsion/adhearsion-i18n
        %tr
          %td.right
            %h3 Declarative IVR dialogs / dialog states
          %td
            %p Many applications which implement IVR functionality have to create a state machine for dialogs by hand, and write tests for them. Baking in support for a declarative IVR DSL to standardise this and centralise the implementation and testing burden would simplify many of these applications and make them faster to write and cheaper to maintain, as well as more understandable. See https://github.com/adhearsion/adhearsion-ivr

        %tr
          %td.right
            %h3 Async CallController API
          %td
            %p

        %tr
          %td.right
            %h3 First-class mixers
          %td
            %p Adhearsion currently has no support for audio mixing. Adhearsion needs to be able to track state for mixers, including participant details, simple joining and management, seamlessly moving collections of calls into a mixer, etc. This would include adding support for mixers on Asterisk based on ConfBridge.

        %tr
          %td.right
            %h3 Core performance analysis & improvement
          %td
            %p Adhearsion currently supports something in the region of 200 concurrent calls per instance on typical hardware, while the engines it drives tend to support many more. Currently, the performance characteristics of various Ruby implementations is not well known (other than that GIL-less JRuby and rubinius should perform better in theory), and the difference in performance of implementations across platforms is also not known well, other than that platforms with native Rayo support (Voxeo PRSIM and FreeSWITCH) perform better. As at present, the precise performance bottlenecks are not well understood, and there are limited strategies known to improve performance. This task would involve a thorough analysis of the situation, a set of recommendations for making progress, and implementation of some of those recommendations, in an attempt to improve concurrent call handling by an order of magnitude.

        %tr
          %td.right
            %h3 Asterisk 12/13 support
          %td
            %p Asterisk 12/13 introduced changes to their APIs which introduced incompatability with Adhearsion. Changes are required to Punchblock to support the new version of AMI, or to migrate to ARI, the new REST & Websocket based API.

        %tr
          %td.right
            %h3 Asterisk Rayo support
          %td
            %p Rayo is the protocol Adhearsion speaks natively and best. Its use of Asterisk is an approximation to the capabilities of the Rayo protocol. FreeSWITCH has a native implementation of the Rayo protocol in mod_rayo, but Asterisk does not. Bringing Rayo to Asterisk, either natively or via an adapter to ARI (for example, as an ejabberd plugin written in Elixir) would provide Adhearsion with support for Asterisk with the same robustness and flexibility it enjoys on FreeSWITCH.

      %h3 Adhearsion Plugins

      %table.two-third.data-table-vertical{:style => 'border: none;'}

        %tr
          %td.right
            %h3 Call center plugin (agent queue) with live dashboard
          %td
            %p
              %ul
                %li Allow hotdesking (login via user ID + PIN)
                %li Select from multiple distribution methods (round-robin, least-recently-used, ring-all)
                %li Configure multiple queues
                %li Handle agents logging in and out of individual queues
                %li Visualization for agents logged-in, calls waiting in queue

        %tr
          %td.right
            %h3 Conference call plugin with live dashboard
          %td
            %p Depends on first class mixer support

            %p
              Short list of possible features:
              %ul
                %li Enable PIN-based conference logins
                %li Creation of conference rooms via web UI
                %li Invite/Kick/Mute/Unmute individual call legs via web UI
                %li Create separate listen-only PINs and speaker PINs for the same room

        %tr
          %td.right
            %h3
              %a{:href => "https://github.com/dwilkie/adhearsion-twilio"} Adhearsion-Twilio
          %td
            %p
              %ul
                %li Add support for missing TwiML syntax
                %li Add unit tests
                %li Create example apps

      %h2 How do I apply as a student?
      %p
        Send an email to
        %a{:href => "mailto:gsoc@adhearsion.com"} gsoc@adhearsion.com
        with your ideas or proposal to start the conversation.
    .one-third.last
      %h1.extra-padding-left Mentors
      %p.extra-padding-left
        %a{:href => "http://langfeld.me"}
          %img{:src => "/images/ben_langfeld.jpg", :width => "128", :height => "128", :alt => "Ben Langfeld"}
          Ben Langfeld
      %p.extra-padding-left
        %a{:href => "http://github.com/bklang"}
          %img{:src => "/images/ben_klang.jpg", :width => "128", :height => "128", :alt => "Ben Klang"}
          Ben Klang
      %p.extra-padding-left
        %a{:href => "http://github.com/polysics"}
          %img{:src => "/images/luca_pradovera.jpg", :width => "128", :height => "128", :alt => "Luca Pradovera"}
          Luca Pradovera
      %p.extra-padding-left
        Want to volunteer as a mentor? Email
        %a{:href => "mailto:gsoc@adhearsion.com"} gsoc@adhearsion.com

    .clear

%a{:href => "#", :id => "main-nav-active", :style => "display:none;"} #main-nav-gsoc
