- title "Open Source Telephony Application Framework", false

.home
  .slide.header-center.gradient-down-color
    .full-width
      .center
        %h1 Adhearsion
      .one-fourth.left
        .faded-to-right
        .icon-to-left
          %img{:src => "/images/icons/wand.png", :width => "24", :height => "24", :alt => ""}
        %h4 What is it?
        %p.limit Adhearsion is a full-featured framework for the development of applications which interact with or control voice communications. It facilitates the creation of complex applications with ease, providing a simple API.

        .faded-to-right

        .action-buttons-left.clearfix
          %a.btn-big-action-fixed{:href => "/download", :id => "trigger1_up"}
            %span
              %img{:src => "/images/icons/button-arrow.png", :width => "30", :height => "30", :alt => ""}
              Download
          #tip1_up{:style => "display:none;"}
            .tip{:style => "width:240px;"}
              %h4 Where can I get it?
              %p Adhearsion is available in ways suitable for users and developers of the framework...
              %img.vm{:src => "/images/icons/download-small.png", :width => "16", :height => "16", :alt => ""}
              &nbsp;&nbsp; as a gem:
              %a{:href => "http://rubygems.org/gems/adhearsion"} on RubyGems
              %br
              .separator
              %img.vm{:src => "/images/icons/download-small.png", :width => "16", :height => "16", :alt => ""}
              &nbsp;&nbsp; as source:
              %a{:href => "https://github.com/adhearsion/adhearsion"} on Github
      .two-fourth.rel
        .center
          %h3.mb20 Open Source Voice Application Framework
        %pre{:class => "brush: ruby; gutter: false"}
          :preserve
            class MyController < Adhearsion::CallController
              def run
                answer
                resp = ask "How many woodchucks?", :limit => 1
                speak "You said \#{resp}. That's obviously wrong!"
              end
            end
      .one-fourth.right
        .faded-to-left
        .icon-to-right
          %img{:src => "/images/icons/wand.png", :width => "24", :height => "24", :alt => ""}
        %h4 What is it for?
        %p.limit Lorem ipsum dolor amet, consectetur adipiscing elit. Cura bitur risus, nec euismod sit amet.
        .faded-to-right
        .action-buttons-right.clearfix
          %a.btn-big-action-fixed{:href => "/docs"}
            %span Documentation

  .gradient-up-darker-with-border
    .full-width.pt30.pb30
      .one-fourth
        %h2.mb20 Latest News
        %img{:src => "/images/icons/users.png", :width => "126", :alt => ""}

      - @blog_posts[0,3].each do |blog_post|
        .one-fourth
          %h3
            %a{:href => blog_post[:url]}= blog_post[:title]
          %p
            = blog_post[:description][0,120]
            \...
          %cite
            %abbr.timeago{:title => blog_post[:date]}= blog_post[:date]
      .clear

  .features.gradient-up-with-border
    .full-width
      .two-third
        %h2 Some Use Cases
        %ul.feature-list.mb0
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/tools.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} IVRs
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel cursus ut dignissim enimut pur.
              %a.text-link{:href => "#"} Learn More

          %li.last
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/id.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Call Centre Automation
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut cursus ut dignissim purus libero, adipiscing vel enim.
              %a.text-link{:href => "#"} Learn More

          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/key.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Data Gathering
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut cursus ut dignissim purus libero, adipiscing vel enim.
              %a.text-link{:href => "#"} Learn More

          %li.last
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/recycle.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Voice 2.0
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, cursus ut dignissim adipiscing vel enim.
              %a.text-link{:href => "#"} Learn More

        .clear

      .one-third-last
        %h2 Features
        %ul
          %li FooBar
          %li.last FooBar

        .clear
      .clear

%a{:href => "#", :id => "main-nav-active", :style => "display:none;"} #main-nav-home
