- title "Open Source Telephony Application Framework", false

.home
  .header-image-right.gradient-down-color
    .full-width
      .one-half.pt10
        %h1 Adhearsion
        %h3.mb20 Open Source Telephony Application Framework

        .faded-to-right
        .icon-to-left
          %a{:href => "http://www.youtube.com/watch?v=Jek0HCeFGy0", :rel => "prettyPhoto"}
            %img{:src => "/images/icons/wand.png", :width => "64", :height => "64", :alt => ""}
          .small-plus
        %h4 What is it?
        %p.limit Adhearsion is a new way to write voice-enabled applications. It's not just an API or library — it's a fully-featured framework, designed for maximal code reuse and intuitiveness.
        .faded-to-right
        .icon-to-left
          %a{:href => "/images/misc/pretty.jpg", :rel => "prettyPhoto"}
            %img{:src => "/images/icons/network.png", :width => "64", :height => "64", :alt => ""}
          .small-play
        %h4 Why should I care?
        %p.limit Adhearsion abstracts much of the complicated telephony domain, allowing you to focus on what's really important: the business domain.
        .faded-to-right
        .action-buttons.clearfix
          %a.btn-big-action-fixed{:href => "http://themeforest.net/item/apptastik-html/164769?ref=bogdanspn", :id => "trigger1_up"}
            %span
              %img{:src => "/images/icons/button-arrow.png", :width => "30", :height => "30", :alt => ""}
              Download
          %a.btn-big-neutral-fixed{:href => "/features"}
            %span Learn More
          #tip1_up{:style => "display:none;"}
            .tip{:style => "width:240px;"}
              %h4 Where can I get it?
              %p Adhearsion is available in ways suitable for users and developers of the framework...
              %img.vm{:src => "/images/icons/download-small.png", :width => "16", :height => "16", :alt => ""}
              &nbsp;&nbsp; as a gem:
              %a{:href => "http://rubygems.org/gems/adhearsion"} on RubyGems
              %br
              .separator
              %img.vm{:src => "/images/icons/download-small.png", :width => "16", :height => "16", :alt => ""}
              &nbsp;&nbsp; as source:
              %a{:href => "https://github.com/adhearsion/adhearsion"} on Github
        .clear
      .one-half
        .rel.images
          %img{:src => "/images/icons/phones.png", :width => "349", :height => "466", :alt => ""}
          .bubble-one
            %h2 FREE
            %h3 for Android
            %p ver.2.20
          .bubble-two
            %h2 FREE
            %h3 for iPhone
            %p ver.2.20
      .clear
  .gradient-up-darker-with-border
    .full-width.pt30.pb30
      .one-fourth
        %h4.mb20 These guys seem to love it...
        %img{:src => "/images/icons/users.png", :width => "126", :alt => ""}

      .one-fourth
        %blockquote
          .icon-to-left
            %img{:src => "/images/icons/quotes.png", :alt => ""}
          %p Maece purus libero nas purus libe ssim purlipsum mules ditum ertur ro, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.
          .clear
        %cite John Doe, Lorem

      .one-fourth
        %blockquote
          .icon-to-left
            %img{:src => "/images/icons/quotes.png", :alt => ""}
          %p Maecenas purus libero, gnissim purus libero in, cursus ut digni cu cursus ut dignirsus ut purus libero, adipiscing vel enim.
          .clear
        %cite John Doe, Lorem

      .one-fourth
        %blockquote
          .icon-to-left
            %img{:src => "/images/icons/quotes.png", :alt => ""}
          %p Maecenas cursus ut digni cursus ut digni purus libero, purus libero cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim purus libero.
          .clear
        %cite John Doe, Lorem
      .clear

  .features.gradient-up-with-border
    .full-width
      .two-third
        %h2 Some Features
        %ul.feature-list.mb0
          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/tools.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel cursus ut dignissim enimut pur.
              %a.text-link{:href => "#"} Learn More

          %li.last
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/id.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut cursus ut dignissim purus libero, adipiscing vel enim.
              %a.text-link{:href => "#"} Learn More

          %li
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/key.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Lorem ipsum dolor sit
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut cursus ut dignissim purus libero, adipiscing vel enim.
              %a.text-link{:href => "#"} Learn More

          %li.last
            %a.icon{:href => "#"}
              %img{:src => "/images/icons/recycle.png", :width => "52", :height => "52", :alt => ""}
            .text
              %h4
                %a{:href => "#"} Ut quis mauris at
              %p Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, cursus ut dignissim adipiscing vel enim.
              %a.text-link{:href => "#"} Learn More

        .clear

      .one-third-last
        %h2 Avaliable Lorem Bis
        %ul.feature-list.mb0
          %li.last
            %h4.mb20 Morbi interdum mollis leo id situ suscipit. Aenean risus quam, it volutpat eu tristique vitae.
            %a.btn-superbig-neutral{:href => "#", :style => "width:230px;"}
              %span
                %b.for-iphone
            %a.btn-superbig-neutral{:href => "#", :style => "width:230px;"}
              %span
                %b.for-android
            .center
              %small FREE, Version 2.02 - 02/02/2010

        .clear
      .clear
