- title "IRC", false

.inner
  .full-width
    .three-fourth.last
      %h1 Adhearsion IRC Chatroom
      .pane
        %h2 Connect info:
        %h3
          Room:
          %a{href: "irc://irc.freenode.net/adhearsion"}#adhearsion
        %h3 Network: irc.freenode.net
        %h2 History
        %p
          You can also view a full history of every conversation at
          %a{href: "http://irclogger.com/.adhearsion/"} IRC logger.
    .clear
