- title "Media", false

.inner
  .full-width
    .three-fourth.last
      %h1 Media Mentions for Adhearsion
      %p
        We've compiled this incomplete list of places where Adhearsion has popped up in the Internet, in video, podcast or otherwise.  Have we missed something?
        %a{:href => "/get-help"} Contact us and let us know!

      %span 2012
      .pane
        %ul
          %li
            April 13:
            %a{:href => "http://ruby5.envylabs.com/episodes/267-episode-263-april-13th-2012"} Headlined on Ruby5, the five minute podcast for Ruby news
          %li
            April 13:
            %a{:href => "http://thechangelog.com/post/21022975332/episode-0-7-9-adhearsion-telephony-and-xmpp-with-ben-kla"} Featured on The Changelog, a weekly podcast covering the world of Open Source
          %li
            February 4:
            %a{:href => "http://video.fosdem.org/2012/maintracks/k.1.105/Voice_Applications_for_the_Modern_Open_Source_Hacker.webm"} Video of FOSDEM main-track presentation by Ben Klang
          %li
            February 3:
            %a{:href => "http://fosdem.org/2012/interview/ben-klang"} FOSDEM Interview with Ben Klang
      %span 2011
      .pane
        %ul
          %li
            October 14:
            %a{:href => "http://www.confreaks.com/videos/780-magrails2011-talking-to-rails"} Talking to Rails, presented by Ben Langfeld at MagRails
          %li
            September 29:
            %a{:href => "http://www.confreaks.com/videos/664-rubyconf2011-evented-telephony-application-design-with-adhearsion"} Evented Telephony Application Design with Adhearsion, presented by Ben Klang at RubyConf
          %li
            September 22:
            %a{:href => "http://rubyology.com/podcasts/100"} Pre-conference coverage of AdhearsionConf on Rubyology 100 with Chris Matthieu
          %li
            August 26:
            %a{:href => "http://www.voipusersconference.org/2011/adhearsion-telephony-through-ruby-colored-lenses/"} Adhearsion: Telephony through Ruby-colored Lenses on the VoIP Users Conference
          %li
            October 8/9:
            %a{:href => "/conference"} AdhearsionConf 2011 Presentations
      %span 2010
      .pane
        %ul
          %li
            October 1:
            %a{:href => "http://www.voipusersconference.org/2010/tropo-agitate-announcement/"} Release announcement for AGItate, bringing Adhearsion into the cloud on the VoIP Users Conference
          %li
            August 14/15:
            %a{:href => "http://www.ustream.tv/channel/adhearsionconf"} AdhearsionConf 2010 Presentations
          %li
            July 23:
            %a{:href => "http://www.voipusersconference.org/2010/adhearsionconf/"} Announcing the first AdhearsionConf live on the VoIP Users Conference
          %li
            July 15:
            %a{:href => "http://rubyology.com/podcasts/86"} Overview of Adhearsion on Rubyology 86 with Chris Matthieu
          %li
            June 25:
            %a{:href => "http://www.voipusersconference.org/2010/sipvicious-and-adhearsion/"} Adhearsion updates on the VoIP Users Conference
      %span 2009
      .pane
        %ul
          %li
            July 24:
            %a{:href => "http://www.voipusersconference.org/2009/adhearsion-tropo-voxeo/"} Voxeo, Adhearsion, Tropo on the VoIP Users Conference
          %li
            March 14:
            %a{:href => "http://www.confreaks.com/videos/87-mwrc2009-adhearsion-working"} Adhearsion Working, presented by Justin Grammens at Mountain West Ruby Conference
          %li
            March 14:
            %a{:href => "http://www.confreaks.com/videos/69-mwrc2009-adhearsion"} Adhearsion, presented by Jay Phillips at Mountain West Ruby Conference
          %li
            January 8:
            %a{:href => "http://www.infoq.com/interviews/phillips-adhearson-voip"} Jay Phillips on Adhearsion and VoIP at InfoQ
          %li
            %a{:href => "http://www.voipusersconference.org/2009/jason-adhearsion/"} Introduction to Jason Goecke on the VoIP Users Conference
      %span 2008
      .pane
        %ul
          %li
            August 24:
            %a{:href => "http://rubyology.com/podcasts/69"} Interview with Jay Phillips by Chris Matthieu on Rubyology 69
      %span 2007
      .pane
        %ul
          %li
            November 4:
            %a{:href => "http://www.confreaks.com/videos/393-rubyconf2007-next-gen-voip-development-with-adhearsion"} Next-Gen VoIP Development with Adhearsion, presented by Jay Phillips at RubyConf
          %li
            %a{:href => "http://www.voipusersconference.org/2007/jay-phillips-adhearsion/"} Introduction to Jay Phillips and Adhearsion on the VoIP Users Conference
    .clear
