- title "Media", false

.inner
  .full-width
    .three-fourth.last
      %h1 Media Mentions for Adhearsion
      %p
        We've compiled this incomplete list of places where Adhearsion has popped up in the Internet, in video, podcast or otherwise.  Have we missed something?
        %a{:href => "/get-help"} Contact us and let us know!

      .accordion-faq
        %span.current April 13, 2012
        .pane
          %ul
            %li
              %a{:href => "http://ruby5.envylabs.com/episodes/267-episode-263-april-13th-2012"} Headlined on Ruby5, the five minute podcast for Ruby news
            %li
              %a{:href => "http://thechangelog.com/post/21022975332/episode-0-7-9-adhearsion-telephony-and-xmpp-with-ben-kla"} Featured on The Changelog, a weekly podcast covering the world of Open Source
    .clear
