- title "Professional Support Options", false

.inner
  .gradient-down.pb30
    .full-width
      .one-full
        .add-extra-padding-right.add-extra-padding-left
          %h1.center.mb0 Professional Support for Adhearsion Applications
          %h3.center.mb20 Get the support you need, when you need it, to enable your real-time communications applications
          %p Adhearsion Support is offered by the team at Mojo Lingo, the same people who actively maintain and extend the Adhearion Project.  These professionals work with voice application technology all day every day - and can help speed up your development efforts or resolve vexing application issues.  Learn more about support options available for your Adhearsion application.
        .mb30.hr
      .clear
      .pricing
        %div{style: 'width: 214px;float:left'} &nbsp;
        %ul.pricing-col-highlight.round-top-btm-left.shadow-right.first
          %li.tops
            %h2 Per-Incident
            %span.price $1250
          %li
            %span.yes Issue Acknowledged within 2 Business Days
          %li
            %span.yes Phone Support
          %li
            %span.yes 1 Support Case
          %li
            %span.no Advisory Hours
          %li
            %span.no No long-term support
          %li.button.round-btm-left
            %a.btn-big-action{:href => '#purchase'}
              %span Purchase
            .clear
        %ul.pricing-col-highlight.round-top-btm-right.shadow-left.last
          %li.tops
            %h2 Monthly Support
            %span.price $1875
          %li
            %span.yes Issues Acknowledged within 1 Business Days
          %li
            %span.yes Phone Support
          %li
            %span.yes 3 Cases Per Month
          %li
            %span.yes 3 Advisory Hours
          %li
            %span.yes 3 Month Duration
          %li.button.round-btm-right
            %a.btn-big-action{:href => '#purchase'}
              %span Purchase
            .clear
        .clear

.gradient-up-with-border
  .full-width.pt20.pb20
    .one-full
      %h2.center.mb30 Support Features
      .half-this
        %h3 Quick acknowledgement of your application issues
        %p.mb10 Get a fast acknowledgement, within 1 or 2 business days, to all reported issues.  While we can't promise to resolve them in that time, you will know that your issue is being worked and will receive at least daily communication until resolved.
      .half-this-last
        %h3 Case Management
        %p.mb10 Get priority attention on reported bugs, whether in the Adhearsion framework tself or in your own application code. Some limitations apply: Cases are only for bugs found in Adhearsion itself or your application code. Support cases may not be used for feature requests or enhancements.
      .clear
      .half-this
        %h3 Phone Support
        %p.mb10 Adhearsion developers will be able to speak directly with you by phone or VoIP while troubleshooting your reported issues.
      .half-this-last
        %h3 Advisory Hours
        %p.mb10 Need some guidance on best practices for application design? Have a chat with an Adhearsion developer to discuss your thoughts and discover the best way to make your applications performant, secure, and scaleable.
      .clear
    .clear
    %h2.center.mb30
      %a{name: 'purchase'}
      Purchase
    %p To purchase a support plan, please email hello@mojolingo.com or call +1.404.475.4841.  Services are provided by Mojo Lingo LLC.
    %p Need something different? Want to sponsor a new Adhearsion feature or need custom application development services? No problem! Contact us and we will work with you to create an engagement that suits your unique needs.
