<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a>
                <ul>
                  <li id="docs-nav-getting-started-installation-asterisk"><a href="/docs/getting-started/asterisk">Asterisk</a></li>
                  <li id="docs-nav-getting-started-installation-freeswitch"><a href="/docs/getting-started/freeswitch">FreeSWITCH</a></li>
                  <li id="docs-nav-getting-started-installation-prism"><a href="/docs/getting-started/prism">Voxeo PRISM</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-common-problems"><a href="/docs/common_problems">Common Problems</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="using-adhearsion-with-asterisk"><a class="toclink" href="#using-adhearsion-with-asterisk">Using Adhearsion with Asterisk</a></h1>
<h2 id="requirements"><a class="toclink" href="#requirements">Requirements</a></h2>
<p>To use Asterisk with Adhearsion you must be using Asterisk version 1.8.4 or later.  If you do not know which version to pick, we strongly recommend choosing a Long Term Support, or "LTS", release.  LTS releases are supported by Digium for a much longer period of time and are appropriate for production deployment.  At the time of this writing Asterisk 1.8 is the current LTS release and the next LTS release, Asterisk 11, is in beta.</p>
<h2 id="getting-asterisk"><a class="toclink" href="#getting-asterisk">Getting Asterisk</a></h2>
<h3 id="asterisk-packages"><a class="toclink" href="#asterisk-packages">Asterisk Packages</a></h3>
<p>For many platforms the easiest way to install Asterisk is to use the packages provided by your operating system or distribution.  At the time of this writing, the following Linux distributions provide a suitable version of Asterisk for use with Adhearsion 2.0:</p>
<ul>
<li><a href="http://ubuntu.com">Ubuntu 11.10 and later (12.04 recommended)</a> (<a href="http://packages.ubuntu.com/precise/asterisk">12.04 Precise</a> <a href="http://packages.ubuntu.com/oneiric/asterisk">11.10 Oneiric</a>)</li>
<li><a href="http://debian.org">Debian Wheezy</a> (<a href="http://packages.debian.org/wheezy/asterisk">Wheezy</a>)</li>
</ul>
<p>In addition to the vendor-provided packages above, Digium provides packages for several common distributions:</p>
<ul>
<li><a href="https://wiki.asterisk.org/wiki/display/AST/Asterisk+Packages#AsteriskPackages-APT%28Debian%2FUbuntu%29">Debian/Ubuntu</a></li>
<li><a href="https://wiki.asterisk.org/wiki/display/AST/Asterisk+Packages#AsteriskPackages-APT%28Debian%2FUbuntu%29">RedHat Enterprise Linux 5/CentOS 5</a></li>
</ul>
<h3 id="compiling-asterisk"><a class="toclink" href="#compiling-asterisk">Compiling Asterisk</a></h3>
<p>If you are not able to obtain packages for your operating system, Asterisk can be compiled on many additional platforms, including FreeBSD, Mac OSX and even Solaris. Please see the <a href="https://wiki.asterisk.org/wiki/display/AST/Installing+Asterisk+From+Source">Asterisk installation documentation</a> for further information.</p>
<h2 id="configuring-asterisk"><a class="toclink" href="#configuring-asterisk">Configuring Asterisk</a></h2>
<h3 id="ami-user"><a class="toclink" href="#ami-user">AMI User</a></h3>
<p>It is necessary to configure an AMI user by which Adhearsion can connect to Asterisk. This can be done in <code>/etc/asterisk/manager.conf</code>, and a sample configuration is provided below:</p>
<pre class="brush: ruby;">
[general]
enabled = yes
port = 5038
bindaddr = 0.0.0.0

[myuser]
secret = mypassword
read = all
write = all
eventfilter = !Event: RTCP*
</pre>

<p>Note that the user needs acess to all AMI events and actions. Also, we have setup an event filter here to prevent sending Adhearsion RTCP events. This is optional, but recommended, because while Asterisk generates a great number of these events Adhearsion cannot normally do anything useful with them. Thus, we can improve Adhearsion's performance by not sending it these events in the first place.</p>
<h3 id="route-calls-to-asyncagi"><a class="toclink" href="#route-calls-to-asyncagi">Route calls to AsyncAGI</a></h3>
<p>To process calls with Adhearsion they must be routed through AsyncAGI.  Add the following context your <code>/etc/asterisk/extensions.conf</code>:</p>
<pre>
[adhearsion]
exten => _.,1,AGI(agi:async)
</pre>

<p>This will route all calls that hit the "adhearsion" context to your Adhearsion application.  To get calls into the "adhearsion" context, you should configure your SIP peers or Dahdi or other channels to have "context=adhearsion" in their configuration.  Please consult the Asterisk documentation for more information on setting up peers and channels.</p>
<p>Note also that on versions Asterisk 1.8, it is necessary to add an empty context with the name 'adhearsion-redirect':
<pre>
[adhearsion-redirect]
</pre></p>
<h2 id="configuring-adhearsion-for-asterisk"><a class="toclink" href="#configuring-adhearsion-for-asterisk">Configuring Adhearsion for Asterisk</a></h2>
<p>As always the full list of configuration options can be viewed, along with a description and their default values, by typing <code>rake config:show</code> in your application directory.  There are a few configuration options that are particularly important:</p>
<ul>
<li>config.punchblock.platform must be set to <code>:asterisk</code></li>
<li>config.punchblock.username must be set to your AMI username (eg. "myuser")</li>
<li>config.punchblock.password must be set to the password recorded in manager.conf (eg. "mypassword")</li>
<li>If you are using any text-to-speech or speech recognition engine, you must set config.punchblock.media_engine appropriately.  Common values for use with Asterisk are <code>:unimrcp</code> or <code>:swift</code>.</li>
</ul>
<p>Note that as described in our <a href="/docs/best-practices/deployment">Deployment Best Practices</a>, we recommend NOT storing the AMI username and password in the config/adhearsion.rb file.  Instead these should be stored in environment variables (notably: <code>AHN_PUNCHBLOCK_USERNAME</code> and <code>AHN_PUNCHBLOCK_PASSWORD</code>) that are loaded by the process prior to launching.</p>
<h2 id="getting-help"><a class="toclink" href="#getting-help">Getting Help</a></h2>
<p>If you need help configuring Asterisk there are several resources available:</p>
<ul>
<li><a href="http://wiki.asterisk.org">The Asterisk Wiki</a> - The official Asterisk wiki maintained by Digium. This has excellent reference information and is the most up-to-date.  Note that while it contains great reference information it tends to lack "how to" guides or very many example configuration scenarios.</li>
<li><a href="http://www.voip-info.org/">VoIP-Info.org Wiki</a> - The original community wiki for all things Voice over IP.  This is a fantastic resource with many years of documentation compiled.  Note that much of the information is out of date however, especially for Asterisk.  As you read it, make sure the content applies to the version of Asterisk you are running!</li>
<li><a href="http://lists.digium.com/mailman/listinfo/asterisk-users/">Asterisk-Users Mailing List</a> - The Asterisk-Users mailing list is a great community resource that also is monitored by the Asterisk developers at Digium.</li>
<li><a href="/community">Adhearsion Community Support</a> - As always we invite you to post your questions to the Adhearsion community via IRC or our own mailing list.</li>
</ul>
<p><a href="#" rel="docs-nav-active" style="display:none;">docs-nav-getting-started</a>
<a href="#" rel="docs-nav-active" style="display:none;">docs-nav-getting-started-installation</a></p>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>