<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="getting-started-prerequisites"><a class="toclink" href="#getting-started-prerequisites"><a href="/docs">Getting Started</a> &gt; Prerequisites</a></h1>
<p>To use Adhearsion you will need a few things:</p>
<ul>
<li>A Ruby Interpreter</li>
<li>A Telephony Engine</li>
</ul>
<h2 id="a-ruby-interpreter"><a class="toclink" href="#a-ruby-interpreter">A Ruby Interpreter</a></h2>
<p>Adhearsion requires <a href="http://ruby-lang.org">Ruby</a> version 1.9.2 or later. <a href="http://jruby.org">JRuby</a> version 1.6.5 or later running in Ruby19 mode (--1.9) is also supported.</p>
<p>Most operating systems come with a version of Ruby installed.  However, it is very important to check the version.  Mac OS X ships with a version of Ruby based on 1.8.7, which is too old.  Debian and its derivatives, including Ubuntu, provide a version of Ruby 1.9 with the package called "ruby19".</p>
<p>One easy, cross-platform way to install an acceptable version of Ruby is to use the <a href="http://rvm.beginrescueend.com">Ruby Version Manager</a>, also called <a href="http://rvm.beginrescueend.com">"RVM"</a>.</p>
<p>After you have RVM installed, installing Ruby 1.9.3 with RVM is easy:</p>
<pre class="terminal">

$ rvm install 1.9.3
<span class="ansi32">Fetching yaml-0.1.4.tar.gz to /Users/ben/Developer/.rvm/archives</span>
<span class="ansi32">Extracting yaml-0.1.4.tar.gz to /Users/ben/Developer/.rvm/src</span>
<span class="ansi32">Configuring yaml in /Users/ben/Developer/.rvm/src/yaml-0.1.4.</span>
<span class="ansi32">Compiling yaml in /Users/ben/Developer/.rvm/src/yaml-0.1.4.</span>
<span class="ansi32">Installing yaml to /Users/ben/Developer/.rvm/usr</span>
<span class="ansi32">Installing Ruby from source to: /Users/ben/Developer/.rvm/rubies/ruby-1.9.3-p125, this may take a while depending on your cpu(s)...
</span>
<span class="ansi32">ruby-1.9.3-p125 - #fetching </span>
<span class="ansi32">ruby-1.9.3-p125 - #extracting ruby-1.9.3-p125 to /Users/ben/Developer/.rvm/src/ruby-1.9.3-p125</span>
<span class="ansi32">ruby-1.9.3-p125 - #extracted to /Users/ben/Developer/.rvm/src/ruby-1.9.3-p125</span>
<span class="ansi32">Applying patch 'xcode-debugopt-fix-r34840' (located at /Users/ben/Developer/.rvm/patches/ruby/1.9.3/p125/xcode-debugopt-fix-r34840.diff)</span>
<span class="ansi32">ruby-1.9.3-p125 - #autoreconf</span>
<span class="ansi32">ruby-1.9.3-p125 - #configuring </span>
<span class="ansi32">ruby-1.9.3-p125 - #compiling </span>
<span class="ansi32">ruby-1.9.3-p125 - #installing </span>
<span class="ansi32">Removing old Rubygems files...</span>
<span class="ansi32">Installing rubygems-1.8.21 for ruby-1.9.3-p125 ...</span>
<span class="ansi32">Installation of rubygems completed successfully.</span>
<span class="ansi32">ruby-1.9.3-p125 - adjusting #shebangs for (gem irb erb ri rdoc testrb rake).</span>
<span class="ansi32">ruby-1.9.3-p125 - #importing default gemsets (/Users/ben/Developer/.rvm/gemsets/)</span>
<span class="ansi32">Install of ruby-1.9.3-p125 - #complete </span>
$ rvm use 1.9.3
<span class="ansi32">Using /Users/ben/Developer/.rvm/gems/ruby-1.9.3-p125</span>
</pre>

<p>If you prefer JRuby, RVM can also install JRuby:</p>
<pre class="terminal">

$ rvm install jruby
<span class="ansi32">jruby-1.6.7 - #fetching </span>
<span class="ansi32">jruby-1.6.7 - #extracting jruby-bin-1.6.7 to /Users/ben/Developer/.rvm/src/jruby-1.6.7</span>
<span class="ansi32">jruby-1.6.7 - #extracted to /Users/ben/Developer/.rvm/src/jruby-1.6.7</span>
<span class="ansi32">Building Nailgun</span>
<span class="ansi32">jruby-1.6.7 - #installing to /Users/ben/Developer/.rvm/rubies/jruby-1.6.7</span>
<span class="ansi32">jruby-1.6.7 - #importing default gemsets (/Users/ben/Developer/.rvm/gemsets/)</span>
<span class="ansi32">Copying across included gems</span>
Building native extensions.  This could take a while...
Successfully installed jruby-launcher-1.0.12-java
1 gem installed
$ rvm use jruby
<span class="ansi32">Using /Users/ben/Developer/.rvm/gems/jruby-1.6.7</span>
$ # JRuby must run in Ruby 1.9 mode:
$ export JRUBY_OPTS="--1.9"
</pre>

<h2 id="a-telephony-engine"><a class="toclink" href="#a-telephony-engine">A Telephony Engine</a></h2>
<p>Adhearsion 2 supports the following telephony engines:</p>
<ul>
<li><a href="http://asterisk.org">Asterisk</a> version 1.8.0 or later</li>
<li><a href="http://voxeolabs.com/prism/">PRISM</a> version 11.1 with the <a href="https://github.com/rayo/rayo-server">rayo-server</a> application installed.</li>
<li>Generally speaking, anything that supports the <a href="https://github.com/rayo/rayo-server/wiki">Rayo</a> protocol.</li>
</ul>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs">Getting Started</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/getting-started/installation">Installation</a>
  </span>
</div>

<p><a href="#" rel="docs-nav-active" style="display:none;">docs-nav-getting-started</a></p>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>