<div class="docs">
  <div class="full-width">
    <div class="two-third">
<h1 id="best-practices-deployment"><a class="toclink" href="#best-practices-deployment"><a href="/docs/best-practices">Best Practices</a> &gt; Deployment</a></h1>
<div class="toc">
<ul>
<li><a href="#best-practices-deployment">Best Practices &gt; Deployment</a><ul>
<li><a href="#deploying-to-heroku">Deploying to Heroku</a></li>
<li><a href="#deploying-to-the-clouda-vpsbare-metal">Deploying to the cloud/a VPS/bare metal</a><ul>
<li><a href="#upstart">Upstart</a></li>
<li><a href="#monitoring">Monitoring</a></li>
<li><a href="#versioning">Versioning</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<h2 id="deploying-to-heroku"><a class="toclink" href="#deploying-to-heroku">Deploying to Heroku</a></h2>
<h2 id="deploying-to-the-clouda-vpsbare-metal"><a class="toclink" href="#deploying-to-the-clouda-vpsbare-metal">Deploying to the cloud/a VPS/bare metal</a></h2>
<h3 id="upstart"><a class="toclink" href="#upstart">Upstart</a></h3>
<h3 id="monitoring"><a class="toclink" href="#monitoring">Monitoring</a></h3>
<h3 id="versioning"><a class="toclink" href="#versioning">Versioning</a></h3>
<p><a href="#" rel="docs-nav-active" style="display:none;">docs-nav-best-practices</a></p>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/best-practices/testing">Testing</a>
  </span>
</div>
    </div>

    <div class="one-third">
      <div class="outer-rounded-box-bold">
        <div class="inner-rounded-box-filled-grey clearfix">
          <h3>Documentation</h3>
          <ul class="collapsibleList">
            <li id="docs-nav-getting-started">
              Getting Started
              <ul>
                <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
                <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
              </ul>
            </li>
            <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
            <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
            <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
            <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
            <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
            <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
            <li id="docs-nav-best-practices">
              Best Practices
              <ul>
                <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
                <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>