<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="best-practices-deployment"><a class="toclink" href="#best-practices-deployment"><a href="/docs/best-practices">Best Practices</a> &gt; Deployment</a></h1>
<div class="toc">
<ul>
<li><a href="#best-practices-deployment">Best Practices &gt; Deployment</a><ul>
<li><a href="#deploying-to-heroku">Deploying to Heroku</a></li>
<li><a href="#deploying-to-the-clouda-vpsbare-metal">Deploying to the cloud/a VPS/bare metal</a></li>
</ul>
</li>
</ul>
</div>
<p>Adhearsion can be deployed any way you like, but here are some guidelines to make the process easier. These will evolve over time:</p>
<h2 id="deploying-to-heroku"><a class="toclink" href="#deploying-to-heroku">Deploying to Heroku</a></h2>
<p>Heroku is the current preferred deployment environment, because of the simplicity with which applications may be deployed there.</p>
<p>The first step is to generate an Adhearsion application:</p>
<pre class="terminal">

$ gem install adhearsion
Successfully installed adhearsion-2.0.0
1 gem installed
$ ahn create myapp
<span class="ansi1"><span class="ansi32">      create</span></span>  config
<span class="ansi1"><span class="ansi32">      create</span></span>  config/adhearsion.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  config/environment.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  lib
<span class="ansi1"><span class="ansi32">      create</span></span>  lib/simon_game.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  script
<span class="ansi1"><span class="ansi32">      create</span></span>  script/ahn
<span class="ansi1"><span class="ansi32">      create</span></span>  spec
<span class="ansi1"><span class="ansi32">      create</span></span>  spec/spec_helper.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  spec/call_controllers
<span class="ansi1"><span class="ansi32">      create</span></span>  spec/support
<span class="ansi1"><span class="ansi32">      create</span></span>  Gemfile
<span class="ansi1"><span class="ansi32">      create</span></span>  .gitignore
<span class="ansi1"><span class="ansi32">      create</span></span>  .rspec
<span class="ansi1"><span class="ansi32">      create</span></span>  Procfile
<span class="ansi1"><span class="ansi32">      create</span></span>  Rakefile
<span class="ansi1"><span class="ansi32">      create</span></span>  README.md
<span class="ansi1"><span class="ansi32">       chmod</span></span>  script/ahn
$ cd myapp
</pre>

<p>We must then bundle the required gems, and thus create a Gemfile.lock:</p>
<pre class="terminal">

$ bundle install
Fetching gem metadata from http://rubygems.org/.........
Fetching gem metadata from http://rubygems.org/..
Using rake (0.9.2.2)
Using i18n (0.6.0)
Using multi_json (1.2.0)
Using activesupport (3.2.3)
Using adhearsion-loquacious (1.9.2)
Using bundler (1.1.3)
Using celluloid (0.10.0)
Using countdownlatch (1.0.0)
Using deep_merge (1.0.0)
Using ffi (1.0.11)
Using future-resource (1.0.0)
Using connection_pool (0.1.0)
Using girl_friday (0.9.7)
Using systemu (2.5.0)
Using macaddr (1.5.0)
Using uuid (2.3.5)
Using has-guarded-handlers (1.2.0)
Using little-plugger (1.1.3)
Using logging (1.7.2)
Using coderay (1.0.6)
Using method_source (0.7.1)
Using slop (2.4.4)
Using pry (0.9.8.4)
Using eventmachine (0.12.10)
Using nokogiri (1.4.7)
Using niceogiri (1.0.1)
Using blather (0.7.0)
Using uuidtools (2.1.2)
Using ruby_ami (1.0.0)
Using ruby_speech (1.0.0)
Using state_machine (1.1.2)
Using punchblock (1.0.0)
Using thor (0.14.6)
Using adhearsion (2.0.0)
<span class="ansi32">Your bundle is complete! Use `bundle show [gemname]` to see where a bundled gem is installed.</span>
$ bundle package
Using rake (0.9.2.2)
Using i18n (0.6.0)
Using multi_json (1.2.0)
Using activesupport (3.2.3)
Using adhearsion-loquacious (1.9.2)
Using bundler (1.1.3)
Using celluloid (0.10.0)
Using countdownlatch (1.0.0)
Using deep_merge (1.0.0)
Using ffi (1.0.11)
Using future-resource (1.0.0)
Using connection_pool (0.1.0)
Using girl_friday (0.9.7)
Using systemu (2.5.0)
Using macaddr (1.5.0)
Using uuid (2.3.5)
Using has-guarded-handlers (1.2.0)
Using little-plugger (1.1.3)
Using logging (1.7.2)
Using coderay (1.0.6)
Using method_source (0.7.1)
Using slop (2.4.4)
Using pry (0.9.8.4)
Using eventmachine (0.12.10)
Using nokogiri (1.4.7)
Using niceogiri (1.0.1)
Using blather (0.7.0)
Using uuidtools (2.1.2)
Using ruby_ami (1.0.0)
Using ruby_speech (1.0.0)
Using state_machine (1.1.2)
Using punchblock (1.0.0)
Using thor (0.14.6)
Using adhearsion (2.0.0)
<span class="ansi32">Your bundle is complete! Use `bundle show [gemname]` to see where a bundled gem is installed.</span>
Updating .gem files in vendor/cache
  * rake-0.9.2.2.gem
  * i18n-0.6.0.gem
  * multi_json-1.2.0.gem
  * activesupport-3.2.3.gem
  * adhearsion-loquacious-1.9.2.gem
  * celluloid-0.10.0.gem
  * countdownlatch-1.0.0.gem
  * deep_merge-1.0.0.gem
  * ffi-1.0.11.gem
  * future-resource-1.0.0.gem
  * connection_pool-0.1.0.gem
  * girl_friday-0.9.7.gem
  * systemu-2.5.0.gem
  * macaddr-1.5.0.gem
  * uuid-2.3.5.gem
  * has-guarded-handlers-1.2.0.gem
  * little-plugger-1.1.3.gem
  * logging-1.7.2.gem
  * coderay-1.0.6.gem
  * method_source-0.7.1.gem
  * slop-2.4.4.gem
  * pry-0.9.8.4.gem
  * eventmachine-0.12.10.gem
  * nokogiri-1.4.7.gem
  * niceogiri-1.0.1.gem
  * blather-0.7.0.gem
  * uuidtools-2.1.2.gem
  * ruby_ami-1.0.0.gem
  * ruby_speech-1.0.0.gem
  * state_machine-1.1.2.gem
  * punchblock-1.0.0.gem
  * thor-0.14.6.gem
  * adhearsion-2.0.0.gem
$ gem install heroku
Successfully installed heroku-2.24.0
1 gem installed
</pre>

<p>All applications deployed to Heroku must live in a git repository, so create one and commit your code:</p>
<pre class="terminal">

$ git init
Initialized empty Git repository in /Users/ben/code/VoIP/adhearsion/website/docs/artifacts/7d8c070bbf85cbd9e219b23adbb8ae9e/source/best-practices/myapp/.git/
$ git add .
$ git commit -a -m "Initial commit"
[master (root-commit) 14c667b] Initial commit
 45 files changed, 305 insertions(+)
 create mode 100644 .gitignore
 create mode 100644 .rspec
 create mode 100644 Gemfile
 create mode 100644 Gemfile.lock
 create mode 100644 Procfile
 create mode 100644 README.md
 create mode 100644 Rakefile
 create mode 100644 config/adhearsion.rb
 create mode 100644 config/environment.rb
 create mode 100644 lib/simon_game.rb
 create mode 100755 script/ahn
 create mode 100644 spec/spec_helper.rb
 create mode 100644 vendor/cache/activesupport-3.2.3.gem
 create mode 100644 vendor/cache/adhearsion-2.0.0.gem
 create mode 100644 vendor/cache/adhearsion-loquacious-1.9.2.gem
 create mode 100644 vendor/cache/blather-0.7.0.gem
 create mode 100644 vendor/cache/celluloid-0.10.0.gem
 create mode 100644 vendor/cache/coderay-1.0.6.gem
 create mode 100644 vendor/cache/connection_pool-0.1.0.gem
 create mode 100644 vendor/cache/countdownlatch-1.0.0.gem
 create mode 100644 vendor/cache/deep_merge-1.0.0.gem
 create mode 100644 vendor/cache/eventmachine-0.12.10.gem
 create mode 100644 vendor/cache/ffi-1.0.11.gem
 create mode 100644 vendor/cache/future-resource-1.0.0.gem
 create mode 100644 vendor/cache/girl_friday-0.9.7.gem
 create mode 100644 vendor/cache/has-guarded-handlers-1.2.0.gem
 create mode 100644 vendor/cache/i18n-0.6.0.gem
 create mode 100644 vendor/cache/little-plugger-1.1.3.gem
 create mode 100644 vendor/cache/logging-1.7.2.gem
 create mode 100644 vendor/cache/macaddr-1.5.0.gem
 create mode 100644 vendor/cache/method_source-0.7.1.gem
 create mode 100644 vendor/cache/multi_json-1.2.0.gem
 create mode 100644 vendor/cache/niceogiri-1.0.1.gem
 create mode 100644 vendor/cache/nokogiri-1.4.7.gem
 create mode 100644 vendor/cache/pry-0.9.8.4.gem
 create mode 100644 vendor/cache/punchblock-1.0.0.gem
 create mode 100644 vendor/cache/rake-0.9.2.2.gem
 create mode 100644 vendor/cache/ruby_ami-1.0.0.gem
 create mode 100644 vendor/cache/ruby_speech-1.0.0.gem
 create mode 100644 vendor/cache/slop-2.4.4.gem
 create mode 100644 vendor/cache/state_machine-1.1.2.gem
 create mode 100644 vendor/cache/systemu-2.5.0.gem
 create mode 100644 vendor/cache/thor-0.14.6.gem
 create mode 100644 vendor/cache/uuid-2.3.5.gem
 create mode 100644 vendor/cache/uuidtools-2.1.2.gem
</pre>

<p>Now we can create the Heroku application, taking care to specify the target stack as 'cedar'.</p>
<pre class="terminal">

$ heroku apps:create --stack cedar
Creating blazing-meadow-8760... done, stack is cedar
http://blazing-meadow-8760.herokuapp.com/ | git@heroku.com:blazing-meadow-8760.git
Git remote heroku added
</pre>

<p>Including sensitive data in a repository is bad practice, so we keep our Punchblock credentials in the environment on Heroku, as so:</p>
<pre class="terminal">

$ heroku config:add AHN_PUNCHBLOCK_USERNAME=foo@bar.com AHN_PUNCHBLOCK_USERNAME=foobar
Adding config vars and restarting app... done, v2
  AHN_PUNCHBLOCK_USERNAME =&gt; foobar
</pre>

<p>We're now ready to push the application to Heroku, which is very simple:</p>
<pre class="terminal">

$ git push heroku master
Counting objects: 53, done.
Delta compression using up to 4 threads.
Compressing objects:   2% (1/47)  Compressing objects:   4% (2/47)  Compressing objects:   6% (3/47)  Compressing objects:   8% (4/47)  Compressing objects:  10% (5/47)  Compressing objects:  12% (6/47)  Compressing objects:  14% (7/47)  Compressing objects:  17% (8/47)  Compressing objects:  19% (9/47)  Compressing objects:  21% (10/47)  Compressing objects:  23% (11/47)  Compressing objects:  25% (12/47)  Compressing objects:  27% (13/47)  Compressing objects:  29% (14/47)  Compressing objects:  31% (15/47)  Compressing objects:  34% (16/47)  Compressing objects:  36% (17/47)  Compressing objects:  38% (18/47)  Compressing objects:  40% (19/47)  Compressing objects:  42% (20/47)  Compressing objects:  44% (21/47)  Compressing objects:  46% (22/47)  Compressing objects:  48% (23/47)  Compressing objects:  51% (24/47)  Compressing objects:  53% (25/47)  Compressing objects:  55% (26/47)  Compressing objects:  57% (27/47)  Compressing objects:  59% (28/47)  Compressing objects:  61% (29/47)  Compressing objects:  63% (30/47)  Compressing objects:  65% (31/47)  Compressing objects:  68% (32/47)  Compressing objects:  70% (33/47)  Compressing objects:  72% (34/47)  Compressing objects:  74% (35/47)  Compressing objects:  76% (36/47)  Compressing objects:  78% (37/47)  Compressing objects:  80% (38/47)  Compressing objects:  82% (39/47)  Compressing objects:  85% (40/47)  Compressing objects:  87% (41/47)  Compressing objects:  89% (42/47)  Compressing objects:  91% (43/47)  Compressing objects:  93% (44/47)  Compressing objects:  95% (45/47)  Compressing objects:  97% (46/47)  Compressing objects: 100% (47/47)  Compressing objects: 100% (47/47), done.
Writing objects:   1% (1/53)  Writing objects:   3% (2/53)  Writing objects:   5% (3/53)  Writing objects:   7% (4/53)  Writing objects:   9% (5/53)  Writing objects:  11% (6/53)  Writing objects:  13% (7/53)  Writing objects:  15% (8/53)  Writing objects:  16% (9/53)  Writing objects:  18% (10/53)  Writing objects:  20% (11/53)  Writing objects:  22% (12/53)  Writing objects:  24% (13/53)  Writing objects:  26% (14/53)  Writing objects:  28% (15/53)  Writing objects:  30% (16/53)  Writing objects:  32% (17/53)  Writing objects:  33% (18/53)  Writing objects:  35% (19/53)  Writing objects:  37% (20/53)  Writing objects:  37% (20/53), 160.00 KiB | 146 KiB/s  Writing objects:  39% (21/53), 160.00 KiB | 146 KiB/s  Writing objects:  39% (21/53), 304.00 KiB | 126 KiB/s  Writing objects:  41% (22/53), 304.00 KiB | 126 KiB/s  Writing objects:  43% (23/53), 384.00 KiB | 131 KiB/s  Writing objects:  43% (23/53), 464.00 KiB | 131 KiB/s  Writing objects:  43% (23/53), 544.00 KiB | 131 KiB/s  Writing objects:  45% (24/53), 608.00 KiB | 125 KiB/s  Writing objects:  47% (25/53), 608.00 KiB | 125 KiB/s  Writing objects:  47% (25/53), 688.00 KiB | 124 KiB/s  Writing objects:  49% (26/53), 688.00 KiB | 124 KiB/s  Writing objects:  50% (27/53), 688.00 KiB | 124 KiB/s  Writing objects:  52% (28/53), 688.00 KiB | 124 KiB/s  Writing objects:  54% (29/53), 688.00 KiB | 124 KiB/s  Writing objects:  54% (29/53), 768.00 KiB | 122 KiB/s  Writing objects:  54% (29/53), 928.00 KiB | 117 KiB/s  Writing objects:  56% (30/53), 928.00 KiB | 117 KiB/s  Writing objects:  56% (30/53), 1008.00 KiB | 120 KiB/s  Writing objects:  56% (30/53), 1.13 MiB | 114 KiB/s  Writing objects:  56% (30/53), 1.20 MiB | 112 KiB/s  Writing objects:  56% (30/53), 1.28 MiB | 112 KiB/s  Writing objects:  56% (30/53), 1.44 MiB | 116 KiB/s  Writing objects:  56% (30/53), 1.59 MiB | 115 KiB/s  Writing objects:  56% (30/53), 1.67 MiB | 114 KiB/s  Writing objects:  58% (31/53), 1.67 MiB | 114 KiB/s  Writing objects:  60% (32/53), 1.67 MiB | 114 KiB/s  Writing objects:  60% (32/53), 1.75 MiB | 113 KiB/s  Writing objects:  62% (33/53), 1.75 MiB | 113 KiB/s  Writing objects:  64% (34/53), 1.75 MiB | 113 KiB/s  Writing objects:  66% (35/53), 1.84 MiB | 117 KiB/s  Writing objects:  67% (36/53), 1.84 MiB | 117 KiB/s  Writing objects:  67% (36/53), 1.91 MiB | 118 KiB/s  Writing objects:  69% (37/53), 1.91 MiB | 118 KiB/s  Writing objects:  71% (38/53), 1.91 MiB | 118 KiB/s  Writing objects:  73% (39/53), 1.91 MiB | 118 KiB/s  Writing objects:  75% (40/53), 1.91 MiB | 118 KiB/s  Writing objects:  77% (41/53), 1.91 MiB | 118 KiB/s  Writing objects:  77% (41/53), 1.98 MiB | 118 KiB/s  Writing objects:  77% (41/53), 2.12 MiB | 115 KiB/s  Writing objects:  79% (42/53), 2.12 MiB | 115 KiB/s  Writing objects:  79% (42/53), 2.20 MiB | 115 KiB/s  Writing objects:  81% (43/53), 2.28 MiB | 115 KiB/s  Writing objects:  81% (43/53), 2.34 MiB | 111 KiB/s  Writing objects:  83% (44/53), 2.34 MiB | 111 KiB/s  Writing objects:  83% (44/53), 2.42 MiB | 112 KiB/s  Writing objects:  84% (45/53), 2.42 MiB | 112 KiB/s  Writing objects:  86% (46/53), 2.42 MiB | 112 KiB/s  Writing objects:  88% (47/53), 2.49 MiB | 112 KiB/s  Writing objects:  90% (48/53), 2.49 MiB | 112 KiB/s  Writing objects:  90% (48/53), 2.56 MiB | 111 KiB/s  Writing objects:  90% (48/53), 2.70 MiB | 112 KiB/s  Writing objects:  90% (48/53), 2.78 MiB | 112 KiB/s  Writing objects:  90% (48/53), 2.86 MiB | 112 KiB/s  Writing objects:  92% (49/53), 2.86 MiB | 112 KiB/s  Writing objects:  94% (50/53), 2.86 MiB | 112 KiB/s  Writing objects:  96% (51/53), 2.94 MiB | 112 KiB/s  Writing objects:  98% (52/53), 2.94 MiB | 112 KiB/s  Writing objects: 100% (53/53), 2.94 MiB | 112 KiB/s  Writing objects: 100% (53/53), 3.01 MiB | 116 KiB/s  Writing objects: 100% (53/53), 3.01 MiB | 115 KiB/s, done.
Total 53 (delta 0), reused 0 (delta 0)

-----&gt; Heroku receiving push
-----&gt; Ruby/Rails app detected
-----&gt; Installing dependencies using Bundler version 1.1.2
       Running: bundle install --without development:test --path vendor/bundle --binstubs bin/ --deployment
       Installing rake (0.9.2.2)
       Installing i18n (0.6.0)
       Installing multi_json (1.2.0)
       Installing activesupport (3.2.3)
       Installing adhearsion-loquacious (1.9.2)
       Using bundler (1.1.2)
       Installing celluloid (0.10.0)
       Installing countdownlatch (1.0.0)
       Installing deep_merge (1.0.0)
       Installing ffi (1.0.11) with native extensions
       Installing future-resource (1.0.0)
       Installing connection_pool (0.1.0)
       Installing girl_friday (0.9.7)
       Installing systemu (2.5.0)
       Installing macaddr (1.5.0)
       Installing uuid (2.3.5)
       Installing has-guarded-handlers (1.2.0)
       Installing little-plugger (1.1.3)
       Installing logging (1.7.2)
       Installing coderay (1.0.6)
       Installing method_source (0.7.1)
       Installing slop (2.4.4)
       Installing pry (0.9.8.4)
       Installing eventmachine (0.12.10) with native extensions
       Installing nokogiri (1.4.7) with native extensions
       Installing niceogiri (1.0.1)
       Installing blather (0.7.0)
       Installing uuidtools (2.1.2)
       Installing ruby_ami (1.0.0)
       Installing ruby_speech (1.0.0)
       Installing state_machine (1.1.2)
       Installing punchblock (1.0.0)
       Installing thor (0.14.6)
       Installing adhearsion (2.0.0)
       Updating .gem files in vendor/cache
       Your bundle is complete! It was installed into ./vendor/bundle
       Cleaning up the bundler cache.
-----&gt; Writing config/database.yml to read from DATABASE_URL
-----&gt; Rails plugin injection
       Injecting rails_log_stdout
-----&gt; Discovering process types
       Procfile declares types      -&gt; ahn
       Default types for Ruby/Rails -&gt; console, rake, web, worker
-----&gt; Compiled slug size is 8.5MB
-----&gt; Launching... done, v5
       http://blazing-meadow-8760.herokuapp.com deployed to Heroku

To git@heroku.com:blazing-meadow-8760.git
 * [new branch]      master -&gt; master
</pre>

<p>Once the application is resident on Heroku, we can appropriately scale the number of processes and watch our application boot.</p>
<pre class="terminal">

$ heroku ps:scale ahn=1 web=0
Scaling ahn processes... done, now running 1
Scaling web processes... done, now running 0
</pre>

<h2 id="deploying-to-the-clouda-vpsbare-metal"><a class="toclink" href="#deploying-to-the-clouda-vpsbare-metal">Deploying to the cloud/a VPS/bare metal</a></h2>
<p><a href="http://ddollar.github.com/foreman">Foreman</a> is a good option for managing your application's processes both in development and production. In development, you should run foreman start, but in production you should probably export to something like Ubuntu Upstart.</p>
<p>It is possible to instruct Foreman to include extra environment variables when executing your application. This is done by including an .env file in the app directory when running foreman or exporting to Upstart. The file should be similar to this:</p>
<pre class="brush: ruby;">
AHN_PUNCHBLOCK_USERNAME=foobar
AHN_PUNCHBLOCK_PASSWORD=barfoo
</pre>

<p>You can optionally place this file elsewhere and specify its location using --env.</p>
<p>Check the Foreman docs for more details.</p>
<p><a href="#" rel="docs-nav-active" style="display:none;">docs-nav-best-practices</a></p>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/best-practices/testing">Testing</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/best-practices/sysadmin">Notes for System Administrators</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>