<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="best-practices-testing"><a class="toclink" href="#best-practices-testing"><a href="/docs/best-practices">Best Practices</a> &gt; Testing</a></h1>
<div class="toc">
<ul>
<li><a href="#best-practices-testing">Best Practices &gt; Testing</a><ul>
<li><a href="#unit-testing">Unit testing</a><ul>
<li><a href="#call-controllers">Call Controllers</a></li>
<li><a href="#plugins">Plugins</a></li>
</ul>
</li>
<li><a href="#integration-testing">Integration testing</a></li>
</ul>
</li>
</ul>
</div>
<h2 id="unit-testing"><a class="toclink" href="#unit-testing">Unit testing</a></h2>
<p>Coming Soon...</p>
<h3 id="call-controllers"><a class="toclink" href="#call-controllers">Call Controllers</a></h3>
<p>Coming Soon...</p>
<h3 id="plugins"><a class="toclink" href="#plugins">Plugins</a></h3>
<p>Coming Soon...</p>
<h2 id="integration-testing"><a class="toclink" href="#integration-testing">Integration testing</a></h2>
<p>Coming Soon...</p>
<p><a href="#" rel="docs-nav-active" style="display:none;">docs-nav-best-practices</a></p>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/best-practices">Best Practices</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/best-practices/deployment">Deployment</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>