<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="call-controllers"><a class="toclink" href="#call-controllers">Call Controllers</a></h1>
<div class="toc">
<ul>
<li><a href="#call-controllers">Call Controllers</a><ul>
<li><a href="#basic-call-control">Basic call control</a></li>
<li><a href="#explicit-answering-and-early-media">Explicit answering and early media</a></li>
<li><a href="#multiple-controllers">Multiple controllers</a></li>
<li><a href="#rendering-output">Rendering Output</a><ul>
<li><a href="#play">#play</a></li>
<li><a href="#say">#say</a></li>
<li><a href="#asterisk-setup">Asterisk setup</a><ul>
<li><a href="#app_swift-cepstral">app_swift &amp; Cepstral</a></li>
<li><a href="#unimrcp">UniMRCP</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#collecting-input">Collecting Input</a><ul>
<li><a href="#ask">#ask</a></li>
<li><a href="#menu">#menu</a></li>
</ul>
</li>
<li><a href="#recording">Recording</a><ul>
<li><a href="#voicemail-like-recording">Voicemail-like recording</a></li>
<li><a href="#monitoring-recording">Monitoring recording</a></li>
<li><a href="#recording-directory">Recording directory</a></li>
</ul>
</li>
<li><a href="#joining-calls">Joining calls</a></li>
<li><a href="#joining-calls-to-an-outbound-call">Joining calls to an outbound call</a></li>
<li><a href="#making-outbound-calls">Making outbound calls</a></li>
<li><a href="#callbacks">Callbacks</a></li>
</ul>
</li>
</ul>
</div>
<p>With the addition of Call Controllers to Adhearsion 2.0, Adhearsion applications become closer to real MVC applications. A CallController is the "controller" in MVC terms; the call object is the "view" (being the method of interaction between the human and the application, it qualifies here, even though it is not actually visible); models may be any backend you prefer, be they backed by a database, a directory (like LDAP) or anything else. Indeed, one might wish to make use of a second view, such as an XMPP interaction or some kind of push-based rendering to a visual display.</p>
<p>So, how does one write an application based on call controllers? By generating a controller class and routing calls to it as described in <a href="/docs/routing">Routing</a>. That might look something like this:</p>
<pre class="terminal">

$ ahn generate controller SuperSecretProjectCallController
<span class="ansi1"><span class="ansi34">       exist</span></span>  lib
<span class="ansi1"><span class="ansi34">       exist</span></span>  spec
<span class="ansi1"><span class="ansi32">      create</span></span>  lib/super_secret_project_call_controller.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  spec/super_secret_project_call_controller_spec.rb
</pre>

<p>config/adhearsion.rb:</p>
<pre class="brush: ruby;">
Adhearsion.routes do
  route 'default', SuperSecretProjectCallController
end
</pre>

<p>lib/super_secret_project_call_controller.rb:</p>
<pre class="brush: ruby;">
# encoding: utf-8

class SuperSecretProjectCallController < Adhearsion::CallController
  def run
  end
end  

</pre>

<p>Here, the controller class itself lives in the lib directory, which, by default, is auto-loaded by Adhearsion. You may configure this like so:</p>
<p>config/adhearsion.rb:</p>
<pre class="brush: ruby;">
Adhearsion.config do |config|
  config.lib = 'application/call_controllers'
end
</pre>

<p>Within a call controller, you have access to many instance methods with which to operate on the call, and you also have access to the call object (#call) itself.</p>
<h2 id="basic-call-control"><a class="toclink" href="#basic-call-control">Basic call control</a></h2>
<p>The entry point for every CallController is the #run method, and every CallController must have a #run method.  Once launched, there are several methods available to exercise basic control over a call. The first interesting one is the method by which you answer a call. Hold on to your hats here, this is highly complex:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCallController < Adhearsion::CallController
  def run
    answer
  end
end
</pre>

<p>Hanging up a call is equally hard work:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCallController < Adhearsion::CallController
  def run
    hangup
  end
end
</pre>

<p>You're beginning to see now why telephony consulting is so profitable!</p>
<p>It is also possible to mute and unmute the call:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCallController < Adhearsion::CallController
  def run
    answer
    mute
    unmute
    hangup
  end
end
</pre>

<p>One other handy trick is rejecting a call before it is answered.  Among other things this avoids billing in most cases:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCallController < Adhearsion::CallController
  def run
    reject if call.from =~ /18005551234/ # Ugh, Aunt Sally always talks my ear off...
    # Otherwise...
    answer
    play "musiconhold.mp3"
    hangup
  end
end
</pre>

<h2 id="explicit-answering-and-early-media"><a class="toclink" href="#explicit-answering-and-early-media">Explicit answering and early media</a></h2>
<p>CallController methods will not explictly answer calls to allow the developer to take advantage of early media. EM is a way to send audio to the caller and receive DTMF without actually "raising the phone". In case of normal time-based phone billing, that will result in the call not being billed until it is actually answered.</p>
<p>For example, this could be used to play some pricing information to a caller, or to send custom audio as a ringing tone.</p>
<p>Early media could not work with all methods and channels, so the recommendation is to always use #answer first unless you know your application does not need that.</p>
<h2 id="multiple-controllers"><a class="toclink" href="#multiple-controllers">Multiple controllers</a></h2>
<p>It is possible to reuse and share functionality among call controllers. There are two approaches to this. The first is to invoke another controller <em>within</em> the current controller:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCallController < Adhearsion::CallController
  def run
    invoke OtherController
    # After OtherController the call will continue:
    say "Thanks for using OtherController."
  end
end
</pre>

<p>In this case, the new controller is prepared and executed.  When it finishes, control is returned to the original controller.</p>
<p>Sometimes, it is desireable to abandon the current controller, and hop to a new one entirely.</p>
<pre class="brush: ruby;">
class SuperSecretProjectCallController < Adhearsion::CallController
  def run
    pass OtherController
    raise "Inconcievable!" # This code is never reached
  end
end
</pre>

<h2 id="rendering-output"><a class="toclink" href="#rendering-output">Rendering Output</a></h2>
<p>There are several methods by which to render audible output to the call. The full complement can be found in the <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/CallController/Output">Output API documentation</a>, but the main methods are described below:</p>
<h3 id="play"><a class="toclink" href="#play">#play</a></h3>
<p>#play allows for rendering output of several types, in a manner appropriate to that type. It will detect Date/Time objects, numbers, and paths/URLs to audio files. Additionally, it supports rendering collections of such objects in series. As always, further details can be found in the <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/CallController/Output:play">API documentation</a>, but here are some examples:</p>
<pre class="brush: ruby;">
class MyController < Adhearsion::CallController
  def run
    answer
    play 'file://rub-dub-dub.mp3', 3, 'file://men-in-a-tub.mp3'
    play 'file://the-time-is-now.mp3', Time.now
  end
end
</pre>

<h3 id="say"><a class="toclink" href="#say">#say</a></h3>
<p>In many circumstances, it is desireable to speak certain output using a text-to-speech engine. This is simple using the #say method, providing either a simple string or an SSML document:</p>
<pre class="brush: ruby;">
class MyController < Adhearsion::CallController
  def run
    answer

    say "Rub dub dub, three men in a tub."

    doc = RubySpeech::SSML.draw do
      string "The time is now"
      say_as interpret_as: 'time' do
        Time.now
      end
    end
    say doc
  end
end
</pre>

<p>As usual, check out the <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/CallController/Output:say">#say API documentation</a> for more.</p>
<h3 id="asterisk-setup"><a class="toclink" href="#asterisk-setup">Asterisk setup</a></h3>
<p>If a text-to-speech engine is configured, all output will be rendered by the engine; otherwise, only file playback will be supported on Asterisk. The adhearsion-asterisk plugin provides helpers for Asterisk's built in complex-data rendering methods, and <a href="http://adhearsion.github.com/adhearsion-asterisk">its documentation</a> is the appropriate place to find documentation for those.</p>
<h4 id="app_swift-cepstral"><a class="toclink" href="#app_swift-cepstral">app_swift &amp; Cepstral</a></h4>
<p>We will not cover setting up app_swift itself here, but configuring Adhearsion to use app_swift is simple:</p>
<pre class="brush: ruby;">
Adhearsion.config do |config|
  config.punchblock.media_engine = :swift
end
</pre>

<p>Once you do this, all audio output, including audio file playback, will be delegated to app_swift. If you wish to combine this with asterisk native playback, you should use the helpers in adhearsion-asterisk.</p>
<h4 id="unimrcp"><a class="toclink" href="#unimrcp">UniMRCP</a></h4>
<p>It is possible to render output documents via an engine attached to Asterisk via MRCP. You should see the <a href="http://code.google.com/p/unimrcp/wiki/asteriskUniMRCP">UniMRCP site</a> for details on the Asterisk configuration, and again, the Adhearsion configuration is simple:</p>
<pre class="brush: ruby;">
Adhearsion.config do |config|
  config.punchblock.media_engine = :unimrcp
end
</pre>

<h2 id="collecting-input"><a class="toclink" href="#collecting-input">Collecting Input</a></h2>
<p>Phone calls are fairly boring if they only involve listening to output, so Adhearsion includes several ways to gather input from the caller.</p>
<h3 id="ask"><a class="toclink" href="#ask">#ask</a></h3>
<p>CallController provides the #ask method, which simplifies input by combining a prompt (rendered as above) with gathering a response.</p>
<pre class="brush: ruby;">
class MyController < Adhearsion::CallController
  def run
    answer
    result = ask "How many woodchucks? Enter a number followed by #.",
                :terminator => '#'
    say "Wow, #{result.response} is a lot of woodchucks!"
  end
end
</pre>

<p>Here, we choose to cease input using a terminator digit. Alternative strategies include a :timeout, or a digit :limit, which are described in the <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/CallController/Input:ask">#ask API documentation</a>. Additionally, it is possible to pass a block, to which #ask will yield the digit buffer after each digit is received, in order to validate the input and optionally terminate early. If the block returns a truthy value when invoked, the input will be terminated early.</p>
<h3 id="menu"><a class="toclink" href="#menu">#menu</a></h3>
<p>Rapid and painless creation of complex IVRs has always been one of the defining features of Adhearsion for beginning and advanced programmers alike. Through the #menu DSL method, the framework abstracts and packages the output and input management and the complex state machine needed to implement a complete menu with audio prompts, digit checking, retries and failure handling, making creating menus a breeze.</p>
<p>A sample menu might look something like this:</p>
<pre class="brush: ruby;">
class MyController < Adhearsion::CallController
  def run
    answer
    menu "Where can we take you today?",
         :timeout => 8.seconds, :tries => 3 do
      match 1, BooController
      match '2', MyOtherController
      match 3, 4, { pass YetAnotherController }
      match 5, FooController
      match 6..10 do |dialed|
        say_dialed dialed
      end

      timeout { do_this_on_timeout }

      invalid do
        invoke InvalidController
      end

      failure do
        speak 'Goodbye'
        hangup
      end
    end

    speak "This code gets executed unless #pass is used"
  end

  def say_dialed(dialed)
    speak "#{dialed} was dialed"
  end

  def do_this_on_timeout
    speak 'Timeout'
  end
end
</pre>

<p>The first arguments to #menu are a list of sounds to play, as accepted by #play, including strings for TTS, Date and Time objects, and file paths. #play and the other input and output methods, all renovated, will be covered in a subsequent post. Sounds will be played at the beginning of the menu and after each timeout or invalid input, if the maximum number of tries has not been reached yet.</p>
<p>The :tries and :timeout options respectively specify the number of tries before going into failure, and the timeout in seconds allowed before the first and each subsequent digit input.</p>
<p>The most important section is the following block, which specifies how the menu will be constructed and handled.</p>
<p>The #match method takes an Integer, a String, a Range or any number of them as the required input(s) for the match payload to be executed. The last argument to a #match is either the name of a CallController, which will be invoked, or a block to be executed. Matched input is passed in to the associated block, or to the controller through its metadata (Controller#metadata[:extension]).</p>
<p>#menu executes the payload for the first exact unambiguous match it finds after each input or timing out. In a situation where there might be overlapping patterns, such as 10 and 100, #menu will wait for timeout after the second digit.</p>
<p>#timeout, #invalid and #failure are for handling bad or missing inputs.  These methods only accept blocks as payload, but it is still possible to make use of another CallController by using #pass or #invoke within the block.</p>
<ul>
<li>#invalid has its associated block executed when the input does not possibly match any pattern.</li>
<li>#timeout block is run when time expires before or between input digits, without there being at least one exact match.</li>
<li>#failure runs its block when the maximum number of tries is reached without an input match.</li>
</ul>
<p>Execution of the current context resumes after #menu finishes. If you wish to jump to an entirely different controller, #pass can be used.</p>
<p>#menu will return a <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/CallController/Input/Result">CallController::Input::Result</a> object detailing the success or otherwise of the menu, similarly to #ask.</p>
<h2 id="recording"><a class="toclink" href="#recording">Recording</a></h2>
<p>The #record method provides the ability to capture audio in a blocking or non-blocking way.</p>
<h3 id="voicemail-like-recording"><a class="toclink" href="#voicemail-like-recording">Voicemail-like recording</a></h3>
<p>In this case, it is desireable for #record to block until the recording completes, as it is the main feature of that part of the call. This usage is simple:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    record_result = record :start_beep => true, :max_duration => 60_000
    logger.info "Recording saved to #{record_result.recording_uri}"
    say "Goodbye!"
  end
end
</pre>

<h3 id="monitoring-recording"><a class="toclink" href="#monitoring-recording">Monitoring recording</a></h3>
<p>Alternatively, it may be desireable to record a call in the background while other interactions occurr, perhaps for training, fact-verification or compliance reasons. In this case, it is necessary to execute the recording asynchronously, and handle its recording as a callback receiving the Event object for the command:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    record :async => true do |event|
      logger.info "Async recording saved to #{event.recording.uri}"
    end
    say "We are currently recording this call"
    hangup # Triggers the end of the recording
  end
end
</pre>

<h3 id="recording-directory"><a class="toclink" href="#recording-directory">Recording directory</a></h3>
<p>Adhearsion will check that the recording directory it uses, /var/punchblock/record, is in place when starting up on an Asterisk platform. A warning will be issued if the directory is missing. If Adhearsion and Asterisk are not running on the same machine, the warning can be disregarded, even though the directory has still to be present on the machine running Asterisk.</p>
<p>It is additionally necessary to have sox installed on the Asterisk machine, because it provides mixing for recordings.</p>
<h2 id="joining-calls"><a class="toclink" href="#joining-calls">Joining calls</a></h2>
<p>If there are multiple calls active in Adhearsion, it is possible to join the media streams of those calls together so the parties may talk.</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    join some_other_call # or some_other_call_id
    say "We hope you had a nice chat!"
  end
end
</pre>

<p>Here, #join will block until either the 3rd-party call hangs up, or is otherwise unjoined out-of-band. It is possible to do an asynchronous join by specifying :async =&gt; true, in which case #join will only block until the join is confirmed.  Your controller will then resume executing commands on the call while the parties are talking.</p>
<p>Calls may be unjoined out-of-band using the Call#unjoin method, which has a similar signature to #join.</p>
<h2 id="joining-calls-to-an-outbound-call"><a class="toclink" href="#joining-calls-to-an-outbound-call">Joining calls to an outbound call</a></h2>
<p>Similarly to #join, it is possible to make an outbound call to a third-party, and then to join the calls on answering.  The #dial method handles this automatically.</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    dial 'sip:foo@bar.com'
    say "We hope you had a nice chat!"
  end
end
</pre>

<p>It is also possible to make multiple calls in paralell, under a first-to-answer-wins policy:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    dial 'sip:foo@bar.com', 'tel:+1404....'
    say "We hope you had a nice chat!"
  end
end
</pre>

<p>It is additionally possible to set a timeout on attempting to dial out, and to check the status of the dial after the fact:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    status = dial 'sip:foo@bar.com', :for => 30.seconds
    case status.result
    when :answer
      say "We hope you had a nice chat!"
    when :error, :timeout
      say "Unfortunately we couldn't get hold of Bob."
    when :no_answer
      say "It looks like Bob didn't want to talk to you."
    end
  end
end
</pre>

<p>By default, the outbound calls will have a caller ID matching that of the party which called in to the original controller. Overriding the caller ID for the outbound call is accomplished with the :from option passed to dial.</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    dial 'sip:foo@bar.com', :from => 'sip:me@here.com'
    say "We hope you had a nice chat!"
  end
end
</pre>

<p>If you wish to perform some action on the outbound call prior to joining, you may pass a controller class with the option key :confirm like so:</p>
<pre class="brush: ruby;">
class ConfirmationController < Adhearsion::CallController
  def run
    say "Incoming call from #{call.from}. Hang up now to reject the call."
  end
end

class SuperSecretProjectCall < Adhearsion::CallController
  def run
    answer
    dial 'sip:foo@bar.com', :confirm => ConfirmationController
    say "We hope you had a nice chat!"
  end
end
</pre>

<p>Further details can be found in the <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/CallController/Dial:dial">#dial API documentation</a>.</p>
<h2 id="making-outbound-calls"><a class="toclink" href="#making-outbound-calls">Making outbound calls</a></h2>
<p>An outbound call may be created and sent to a new Call Controller instead of joining to an existing call. In this case it is possible to have an inbound call, or event, trigger a new call that plays a message, allows a user to be prompted for input before further action and more.</p>
<p>When the outbound call is placed in an existing Call Controller that new call is routed to a new Call Controller via Adhearsion configuration just like an inbound call.</p>
<pre class="brush: ruby;">
# config/adhearsion.rb
Adhearsion.config do |config|
  Adhearsion.router do
    route 'Outbound Notification', Adhearsion::OutboundCall, OutboundNotification
    route 'Inbound Call', InboundProjectCall
  end
end

# Call Controllers
class InboundCall < Adhearsion::CallController
  def run
    answer
    say "Thank you for calling, we will notify Jason that you called."
    hangup

    Adhearsion::OutboundCall.originate 'sip:jason@adhearsion.com', :from => 'sip:foo@bar.com'
  end
end

class OutboundNotification < Adhearsion::CallController
  def run
    answer
    say "Foo called!"
    hangup
  end
end
</pre>

<p>Alternatively, it is possible to specify a controller for the call to execute when it is answered. You can specify either a controller class:</p>
<pre class="brush: ruby;">
class InboundCall < Adhearsion::CallController
  def run
    answer
    say "Thank you for calling, we will notify Jason that you called."
    hangup

    Adhearsion::OutboundCall.originate 'sip:jason@adhearsion.com', :from => 'sip:foo@bar.com', :controller => OutboundNotification
  end
end

class OutboundNotification < Adhearsion::CallController
  def run
    answer
    say "Foo called!"
    hangup
  end
end
</pre>

<p>or pass a block to be executed as a controller:</p>
<pre class="brush: ruby;">
class InboundCall < Adhearsion::CallController
  def run
    answer
    say "Thank you for calling, we will notify Jason that you called."
    hangup

    Adhearsion::OutboundCall.originate 'sip:jason@adhearsion.com', :from => 'sip:foo@bar.com' do
      answer
      say "Foo called!"
      hangup
    end
  end
end
</pre>

<p>Further details can be found in the <a href="http://rubydoc.info/github/adhearsion/adhearsion/Adhearsion/OutboundCall#originate-class_method">#originate API documentation</a>.</p>
<h2 id="callbacks"><a class="toclink" href="#callbacks">Callbacks</a></h2>
<p>Finally, it is possible to define callbacks to be executed at various stages of a call, or in response to certain events. These are before_call and after_call, they are class methods, and they take either a block or a symbol (called as an instance method) like so:</p>
<p>lib/super_secret_project_call.rb:</p>
<pre class="brush: ruby;">
class SuperSecretProjectCall < Adhearsion::CallController
  before_call do
    @user = User.find_by_phone_number call.from
  end

  after_call :save_user

  def run
    answer
    pin = collect_pin
    ...
  end

  def collect_pin
    input 4
  end

  def save_user
    @user.save
  end
end
</pre>

<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/console">Console</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/routing">Routing</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>