<div class="docs">
  <div class="full-width">
    <div class="two-third">
<h1 id="config"><a class="toclink" href="#config">Config</a></h1>
<div class="toc">
<ul>
<li><a href="#config">Config</a></li>
</ul>
</div>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/routing">Routing</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/logging">Logging</a>
  </span>
</div>
    </div>

    <div class="one-third">
      <div class="outer-rounded-box-bold">
        <div class="inner-rounded-box-filled-grey clearfix">
          <h3>Documentation</h3>
          <ul class="collapsibleList">
            <li id="docs-nav-getting-started">
              Getting Started
              <ul>
                <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
                <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
              </ul>
            </li>
            <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
            <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
            <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
            <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
            <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
            <li id="docs-nav-best-practices">
              Best Practices
              <ul>
                <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
                <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>