<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="console"><a class="toclink" href="#console">Console</a></h1>
<div class="toc">
<ul>
<li><a href="#console">Console</a><ul>
<li><a href="#taking-a-currently-active-call">Taking a currently active call</a></li>
<li><a href="#routing-calls-directly-to-the-console">Routing calls directly to the console</a></li>
<li><a href="#making-outbound-calls">Making outbound calls</a></li>
</ul>
</li>
</ul>
</div>
<p>When starting an Adhearsion app in the foreground (ahn start), a console is provided to interact with the application and its calls. It is possible to take control of currently active calls, execute commands on them, make outbound calls, etc.</p>
<h2 id="taking-a-currently-active-call"><a class="toclink" href="#taking-a-currently-active-call">Taking a currently active call</a></h2>
<p>When a call has one or more controllers running against it, it is possible to sieze control of the call using the console #take method. You may either supply the call's ID or the call object itself, or supply no parameters and be presented with a list of calls to choose from. If there is only one active call, you will not be presented with a choice.</p>
<pre class='terminal'>
  <br/>
AHN> take
Please choose a call:
# (inbound/outbound) details
0: (i) 5vg6dkqc-lx7-2zujv5xbe7zd from sip:rwkdjpmu@192.168.1.74 to sip:usera@127.0.0.1
1: (i) 5vg6dkqc-lx7-2n2wgrzooard from sip:rwkdjpmu@192.168.1.74 to sip:usera@127.0.0.1
#> 1
AHN<5vg6dkqc-lx7-2n2wgrzooard>
</pre>

<p>Once you have control of a call, other controllers will stop executing (at the next time they try to run a command against the call) and you may use any CallController methods you like. The console itself is just an interactive CallController.</p>
<h2 id="routing-calls-directly-to-the-console"><a class="toclink" href="#routing-calls-directly-to-the-console">Routing calls directly to the console</a></h2>
<p>It is not currently possible to route calls directly to the console, but this feature is coming soon. In the meantime, the following hack is a potential solution, giving you enough time after the call comes in to grab it in the same way as any other:</p>
<pre class="brush: ruby;">
Adhearsion.routes do
  route 'ConsoleCatch' do
    logger.info "Call #{call.id} waiting..."
    sleep 10
  end
end
</pre>

<h2 id="making-outbound-calls"><a class="toclink" href="#making-outbound-calls">Making outbound calls</a></h2>
<p>The current preferred method of making an outbound call is like so:</p>
<pre class='terminal'>
  <br/>
AHN> Adhearsion::OutboundCall.originate 'sip:arabbit@mojolingo.com', :from => 'sip:foo@bar.com'
</pre>

<p>The call will pass through the router in the same way as an incoming call.</p>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/getting-started/installation">Installation</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/call-controllers">Call Controllers</a>
  </span>
</div>
    </div>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>