<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a>
                <ul>
                  <li id="docs-nav-getting-started-installation-asterisk"><a href="/docs/getting-started/asterisk">Asterisk</a></li>
                  <li id="docs-nav-getting-started-installation-freeswitch"><a href="/docs/getting-started/freeswitch">FreeSWITCH</a></li>
                  <li id="docs-nav-getting-started-installation-prism"><a href="/docs/getting-started/prism">Voxeo PRISM</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-common-problems"><a href="/docs/common_problems">Common Problems</a></li>
          <li id="docs-nav-common-problems"><a href="/docs/dealing-with-bugs">Dealing with bugs</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="dealing-with-bugs"><a class="toclink" href="#dealing-with-bugs">Dealing with bugs</a></h1>
<div class="toc">
<ul>
<li><a href="#dealing-with-bugs">Dealing with bugs</a><ul>
<li><a href="#running-pre-release-adhearsion">Running pre-release Adhearsion</a></li>
<li><a href="#filing-a-bug-report">Filing a bug report</a></li>
</ul>
</li>
</ul>
</div>
<p>If you encounter an issue with an Adhearsion application, and you are not certain it is a bug in Adhearsion or in your use of the framework, you should first discuss the problem on the <a href="http://groups.google.com/group/adhearsion">mailing list</a>. If it is then identified to be a fault with Adhearsion, you will be directed to open an issue on the <a href="https://github.com/adhearsion/adhearsion/issues">Github issue tracker</a>. See the notes below on <a href="#filing-a-bug-report">filing a bug report</a> for more details.</p>
<h2 id="running-pre-release-adhearsion"><a class="toclink" href="#running-pre-release-adhearsion">Running pre-release Adhearsion</a></h2>
<p>If you encounter a bug, it's entirely possible that it has already been fixed in Adhearsion but not yet included in a released version. You can establish this by trying to run your application with a pre-release version of Adhearsion direct from source control. You can do this by modifying your application's Gemfile as follows:</p>
<pre class="brush: ruby;">
  gem 'adhearsion', github: 'adhearsion', branch: 'develop'
  gem 'punchblock', github: 'adhearsion/punchblock', branch: 'develop'
</pre>

<p>If it is suggested to you that you try a different branch, substitute that for 'develop' in your Gemfile.</p>
<p>You may then run <code>bundle install</code> to get the correct dependencies, and then boot your application. If the problem is resolved, feel free to voice your desire for a new release of Adhearsion to the <a href="/community">community</a>. If it persists, you should consider <a href="#filing-a-bug-report">filing a bug report</a>.</p>
<h2 id="filing-a-bug-report"><a class="toclink" href="#filing-a-bug-report">Filing a bug report</a></h2>
<ul>
<li>Bug reports should be filed on the <a href="https://github.com/adhearsion/adhearsion/issues">Github issue tracker</a>. Bug reports should contain the following things:</li>
<li>A sensible subject that helps quickly identify the issue.</li>
<li>Full steps to reproduce the issue.</li>
<li>Full log output at trace level. Feel free to point out specific log lines which you believe may be relevant, but please provide as much context as possible.</li>
<li>Full references for version numbers (of Adhearsion, dependencies, Ruby, etc), environment (including OS, environment settings, mode of deployment, etc). One easy way to do this is to post your Gemfile.lock, though you will still need to tell us what version of Ruby is in use.</li>
<li>Where possible, a minimal test case. This would preferably take the form of a git repository containing an adhearsion application which, when cloned and booted, exhibits the issue with minimal modification.</li>
<li>Some more guidelines on filing good bug reports:</li>
<li>http://www.chiark.greenend.org.uk/~sgtatham/bugs.html</li>
<li>http://itscommonsensestupid.blogspot.com/2008/07/tips-to-write-good-bug-report.html</li>
<li>http://timheuer.com/blog/archive/2011/10/12/anatomy-of-a-good-bug-report.aspx</li>
</ul>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/common_problems">Common Problems</a>
  </span>
  <span class='forward'>
    Continue to <a href="/api">API Docs</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>