<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a>
                <ul>
                  <li id="docs-nav-getting-started-installation-asterisk"><a href="/docs/getting-started/asterisk">Asterisk</a></li>
                  <li id="docs-nav-getting-started-installation-freeswitch"><a href="/docs/getting-started/freeswitch">FreeSWITCH</a></li>
                  <li id="docs-nav-getting-started-installation-prism"><a href="/docs/getting-started/prism">Voxeo PRISM</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-common-problems"><a href="/docs/common_problems">Common Problems</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="events"><a class="toclink" href="#events">Events</a></h1>
<div class="toc">
<ul>
<li><a href="#events">Events</a><ul>
<li><a href="#global-events">Global events</a></li>
<li><a href="#per-call-events">Per-call events</a></li>
<li><a href="#guards">Guards</a></li>
</ul>
</li>
</ul>
</div>
<p>Adhearsion includes a flexible event handling system, and events may be handled either globally or per-call:</p>
<h2 id="global-events"><a class="toclink" href="#global-events">Global events</a></h2>
<p>In order to handle events global to the whole system, one must declare a (potentially-guarded) handler. There are two methods by which this may be achieved:</p>
<p>config/adhearsion.rb:</p>
<pre class="brush: ruby;">
Adhearsion::Events.draw do

  # eg. Handling Punchblock events
  # punchblock do |event|
  #   ...
  # end
  #
  # eg Handling PeerStatus AMI events
  # ami :name => 'PeerStatus' do |event|
  #   ...
  # end

end
</pre>

<p>or, elsewhere in your code:</p>
<pre class="brush: ruby;">
# eg. Handling Punchblock events
# Adhearsion::Events.punchblock do |event|
#   ...
# end
</pre>

<p>The available categories of events are currently:</p>
<ul>
<li>punchblock</li>
<li>ami</li>
<li>after_initialized</li>
<li>exception</li>
</ul>
<h2 id="per-call-events"><a class="toclink" href="#per-call-events">Per-call events</a></h2>
<pre class="brush: ruby;">
class MyController < Adhearsion::CallController
  before_call do
    call.register_event_handler do |event|
      ...
    end
  end
end
</pre>

<h2 id="guards"><a class="toclink" href="#guards">Guards</a></h2>
<p>The available guards are the same as those which apply in the Routing DSL, and are documented on the <a href="https://adhearsion.github.com/has-guarded-handlers">has-guarded-handlers wesbite</a>.</p>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/config">Config</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/logging">Logging</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>