<div class="docs">
  <div class="full-width">
    <div class="two-third">
<h1 id="adhearsion"><a class="toclink" href="#adhearsion">Adhearsion</a></h1>
<h2 id="voice-application-development-made-easy"><a class="toclink" href="#voice-application-development-made-easy">Voice Application Development Made Easy</a></h2>
<p>Adhearsion is the first fully-featured open source Ruby framework for telephony and an easy way to write voice-enabled applications. In the age of the social web, what other technologies are more social than voice? Adhearsion empowers your code to handle and route inbound and outbound telephone, VoIP calls and instant messages automatically.</p>
<p>Adhearsion is a new way to write voice-enabled applications. It's not just an API or library, it's a fully-featured framework, the first of its kind in its domain, designed for maximal code reuse and intuitiveness. The name "Adhearsion" is a combination of "adhesion" and "hear" because Adhearsion shines best when integrating web technologies with voice.</p>
<p>Adhearsion uses the expressive and flexible Ruby programming language and has a comprehensive regression test suite. In the age of the social web, what other technologies are more social than voice? Adhearsion aims to help merge this so-called "Web 2.0" world with the previously untameable telephony world.</p>
<p>Voice applications don't have to be hard. Adhearsion abstracts much of the complicated telephony domain, allowing you to focus on what's really important: the business domain. Take a look at the Examples to see what we mean.</p>
<p>We take open-source software seriously. The telecom industry, above all, needs fresh innovative talent and Adhearsion's here to foster it. This is one of the final major frontiers for open-source to truly make a transformative impact and now is an exciting time to be a part of it.</p>
<p>Many hackers' faces light up the first time they run code which makes the cell phone in their pocket ring. Whether you're a veteran telephony engineer or a web developer wanting a new experiment to do over the weekend, we think Adhearsion is enough of a departure from classical telephony to tickle your fancy.</p>
    </div>

    <div class="one-third">
      <div class="outer-rounded-box-bold">
        <div class="inner-rounded-box-filled-grey clearfix">
          <h3>Documentation</h3>
          <ul class="collapsibleList">
            <li id="docs-nav-getting-started">
              Getting Started
              <ul>
                <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
                <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
              </ul>
            </li>
            <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
            <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
            <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
            <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
            <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
            <li id="docs-nav-best-practices">
              Best Practices
              <ul>
                <li id="docs-nav-best-practices-prerequisites"><a href="/docs/best-practices/deployment">Deployment</a></li>
                <li id="docs-nav-best-practices-installation"><a href="/docs/best-practices/testing">Testing</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>