<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="logging"><a class="toclink" href="#logging">Logging</a></h1>
<div class="toc">
<ul>
<li><a href="#logging">Logging</a><ul>
<li><a href="#writing-to-the-log">Writing to the log</a></li>
<li><a href="#send-logs-elsewhere">Send logs elsewhere</a><ul>
<li><a href="#change-the-log-file-location">Change the log file location</a></li>
<li><a href="#log-to-syslog">Log to syslog</a></li>
<li><a href="#send-logs-by-email">Send logs by email</a></li>
</ul>
</li>
<li><a href="#change-the-log-format">Change the log format</a></li>
</ul>
</li>
</ul>
</div>
<p>Adhearsion includes a comprehensive logging system, powered by the <a href="https://github.com/TwP/logging">Logging</a> gem, where every class has a logger of its own, and every object may have a logger if it implements #logger_name. This makes for highly context-aware logging, and the possibility of easy application-specific logging.</p>
<h2 id="writing-to-the-log"><a class="toclink" href="#writing-to-the-log">Writing to the log</a></h2>
<p>In order to write to the log (eg at INFO level), simply do the following:</p>
<pre class="brush: ruby;">
logger.info "This will be printed at INFO level."
</pre>

<p>The default available log levels are TRACE, DEBUG, INFO, WARN, ERROR, FATAL.</p>
<h2 id="send-logs-elsewhere"><a class="toclink" href="#send-logs-elsewhere">Send logs elsewhere</a></h2>
<p>By default, the logs are output to log/adhearsion.log and stdout.</p>
<h3 id="change-the-log-file-location"><a class="toclink" href="#change-the-log-file-location">Change the log file location</a></h3>
<p>You may change the location of the log file by altering the 'config.platform.logging.outputters' config setting, like so:</p>
<pre class="terminal">
<br/>
ADHEARSION_PLATFORM_LOGGING_OUTPUTTERS=/var/log/adhearsion.log ahn start -
</pre>

<h3 id="log-to-syslog"><a class="toclink" href="#log-to-syslog">Log to syslog</a></h3>
<p>See <a href="https://github.com/TwP/logging/blob/master/lib/logging/appenders/syslog.rb#L23">the logging gem</a>.</p>
<h3 id="send-logs-by-email"><a class="toclink" href="#send-logs-by-email">Send logs by email</a></h3>
<p>See <a href="https://github.com/TwP/logging/blob/master/lib/logging/appenders/email.rb#L25">the logging gem</a>.</p>
<h2 id="change-the-log-format"><a class="toclink" href="#change-the-log-format">Change the log format</a></h2>
<p>See <a href="https://github.com/TwP/logging/blob/master/examples/layouts.rb">the logging gem</a>.</p>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/events">Events</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/plugins">Plugins</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>