<div class="docs">
  <div class="full-width">
    <div class="two-third">
<h1 id="logging"><a class="toclink" href="#logging">Logging</a></h1>
<div class="toc">
<ul>
<li><a href="#logging">Logging</a><ul>
<li><a href="#writing-to-the-log">Writing to the log</a></li>
<li><a href="#send-logs-elsewhere">Send logs elsewhere</a><ul>
<li><a href="#change-the-log-file-location">Change the log file location</a></li>
<li><a href="#log-to-syslog">Log to syslog</a></li>
<li><a href="#send-logs-by-email">Send logs by email</a></li>
</ul>
</li>
<li><a href="#change-the-log-format">Change the log format</a></li>
</ul>
</li>
</ul>
</div>
<h2 id="writing-to-the-log"><a class="toclink" href="#writing-to-the-log">Writing to the log</a></h2>
<h2 id="send-logs-elsewhere"><a class="toclink" href="#send-logs-elsewhere">Send logs elsewhere</a></h2>
<h3 id="change-the-log-file-location"><a class="toclink" href="#change-the-log-file-location">Change the log file location</a></h3>
<h3 id="log-to-syslog"><a class="toclink" href="#log-to-syslog">Log to syslog</a></h3>
<h3 id="send-logs-by-email"><a class="toclink" href="#send-logs-by-email">Send logs by email</a></h3>
<h2 id="change-the-log-format"><a class="toclink" href="#change-the-log-format">Change the log format</a></h2>
<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/config">Config</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/plugins">Plugins</a>
  </span>
</div>
    </div>

    <div class="one-third">
      <div class="outer-rounded-box-bold">
        <div class="inner-rounded-box-filled-grey clearfix">
          <h3>Documentation</h3>
          <ul class="collapsibleList">
            <li id="docs-nav-getting-started">
              Getting Started
              <ul>
                <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
                <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
              </ul>
            </li>
            <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
            <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
            <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
            <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
            <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
            <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
            <li id="docs-nav-best-practices">
              Best Practices
              <ul>
                <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
                <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>