# Performance Tuning

This page documents some best practices to help you get the most performance possible out of your Adhearsion application.

## Use JRuby

* No GIL/Multiple Cores
* Much better GC (fewer delays under load)
* Better compiler optimizations
* Better profiling tools [VisualVM](http://visualvm.java.net/)


## Hardware Matters

* Benchmarks of Xeon CPUs vs. Atom CPUs of a similar clock speed show dramatic differences in performance
* Ensure you have sufficient RAM for peak load (swapping or GC churn is a perf killer)


## Library Recommendations

* Use [Typhoeus](https://github.com/typhoeus/typhoeus) instead of [HTTParty](https://github.com/jnunemaker/httparty) or built-in Net-HTTP
* Use [Sequel](http://sequel.rubyforge.org/) (Adhearsion plugin: [Sequella](https://github.com/bklang/sequella)) instead of [ActiveRecord](https://github.com/rails/rails/tree/master/activerecord)
