<div class="docs">
  <div class="full-width">
    <div class="outer-rounded-box-bold docs-nav-box">
      <div class="inner-rounded-box-filled-grey clearfix">
        <h3>Documentation</h3>
        <ul class="collapsibleList">
          <li id="docs-nav-getting-started">
            Getting Started
            <ul>
              <li id="docs-nav-getting-started-prerequisites"><a href="/docs/getting-started/prerequisites">Prerequisites</a></li>
              <li id="docs-nav-getting-started-installation"><a href="/docs/getting-started/installation">Installation</a></li>
            </ul>
          </li>
          <li id="docs-nav-console"><a href="/docs/console">Console</a></li>
          <li id="docs-nav-call-controller"><a href="/docs/call-controllers">Call Controllers</a></li>
          <li id="docs-nav-routing"><a href="/docs/routing">Routing</a></li>
          <li id="docs-nav-config"><a href="/docs/config">Config</a></li>
          <li id="docs-nav-events"><a href="/docs/events">Events</a></li>
          <li id="docs-nav-logging"><a href="/docs/logging">Logging</a></li>
          <li id="docs-nav-plugins"><a href="/docs/plugins">Plugins</a></li>
          <li id="docs-nav-best-practices">
            Best Practices
            <ul>
              <li id="docs-nav-best-practices-testing"><a href="/docs/best-practices/testing">Testing</a></li>
              <li id="docs-nav-best-practices-deployment"><a href="/docs/best-practices/deployment">Deployment</a></li>
              <li id="docs-nav-best-practices-sysadmin"><a href="/docs/best-practices/sysadmin">Notes for System Administrators</a></li>
              <li id="docs-nav-best-practices-rails"><a href="/docs/best-practices/rails">Rails Integration</a></li>
            </ul>
          </li>
          <li id="docs-nav-upgrading"><a href="/docs/upgrading">Upgrading</a></li>
          <li id="docs-nav-api"><a href="/api">API Documentation</a></li>
        </ul>
      </div>
    </div>

    <div class="docs-body">
<h1 id="plugins"><a class="toclink" href="#plugins">Plugins</a></h1>
<div class="toc">
<ul>
<li><a href="#plugins">Plugins</a><ul>
<li><a href="#what-is-an-adhearsion-20-plugin">What is an Adhearsion 2.0 Plugin?</a><ul>
<li><a href="#anatomy-of-a-plugin">Anatomy of a Plugin</a></li>
<li><a href="#gem-plugin-structure">Gem Plugin Structure</a></li>
<li><a href="#plugin-files">Plugin Files</a></li>
</ul>
</li>
<li><a href="#plugin-initialization">Plugin Initialization</a></li>
<li><a href="#plugin-configuration">Plugin Configuration</a></li>
<li><a href="#plugin-rake-tasks">Plugin Rake Tasks</a></li>
<li><a href="#making-a-plugin-useful">Making a plugin useful</a></li>
<li><a href="#plugin-code">Plugin Code</a><ul>
<li><a href="#testing-your-code">Testing your code</a></li>
<li><a href="#using-the-plugin">Using the plugin</a></li>
<li><a href="#adding-an-entire-callcontroller">Adding an entire CallController</a><ul>
<li><a href="#setup">Setup</a></li>
<li><a href="#tests-first">Tests first!</a></li>
<li><a href="#the-callcontroller">The CallController</a></li>
<li><a href="#routes">Routes</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<p>The ability to easily add reusable functionality to a framework is one of its most important features. The Plugin system in Adhearsion 2.0 provides a wide range of integration points.</p>
<h3 id="what-is-an-adhearsion-20-plugin"><a class="toclink" href="#what-is-an-adhearsion-20-plugin">What is an Adhearsion 2.0 Plugin?</a></h3>
<p>A plugin in Adhearsion, as in many other Ruby frameworks, simply represents a collection of functionality. Most often plugins add new functionality to your calls in the form of modules used as mixins to the base CallController class. This functionality is packaged as a gem to facilitate its installation, reuse, and sharing with the community. CallController methods, initializer code, integrated configuration, rake tasks and code generators all are possible with the plugin classes.</p>
<h3 id="anatomy-of-a-plugin"><a class="toclink" href="#anatomy-of-a-plugin">Anatomy of a Plugin</a></h3>
<p>The easiest way to create a skeleton plugin is to use the Adhearsion command "ahn generate".
By running the following ahn generate plugin GreetPlugin a directory named greet_plugin will be created in the current working directory. The plugin itself, being a gem, can reside anywhere, though it is recommended to keep it outside any particular Adhearsion application to make packaging easier. The output from this command should show the files being created, like this:</p>
<pre class="terminal">

$ ahn generate plugin GreetPlugin
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/lib
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/lib/greet_plugin
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/spec
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/greet_plugin.gemspec
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/Rakefile
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/README.md
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/Gemfile
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/lib/greet_plugin.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/lib/greet_plugin/version.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/lib/greet_plugin/plugin.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/lib/greet_plugin/controller_methods.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/spec/spec_helper.rb
<span class="ansi1"><span class="ansi32">      create</span></span>  greet_plugin/spec/greet_plugin/controller_methods_spec.rb
</pre>

<h3 id="gem-plugin-structure"><a class="toclink" href="#gem-plugin-structure">Gem Plugin Structure</a></h3>
<p>The greet_plugin.gemspec file contains information on your plugin, including required dependencies, contact information and other metadata. Edit the gemspec with contact information, the name and description of your plugin and any development and runtime dependencies to have a fully functional gem.</p>
<p>The README is customarily formatted in Markdown. Please take the time to write a brief description of your plugin, and especially how to use it!</p>
<p>The Rakefile contains tasks that pertain to the plugin gem itself, such as running unit tests. Note that it is separate from adding tasks or generators to Adhearsion applications.</p>
<h3 id="plugin-files"><a class="toclink" href="#plugin-files">Plugin Files</a></h3>
<p>The entry point for the plugin, as with most gems, resides in lib/greet_plugin.rb. It is mainly composed of requires for the plugin classes and modules. When adding functionality to a plugin, it will need to be require'd here to be available. Plugins are namespaced by package name to avoid conflicts.</p>
<p>lib/greet_plugin.rb:</p>
<pre class="brush: ruby;">
GreetPlugin = Module.new
require "greet_plugin/version"
require "greet_plugin/plugin"
require "greet_plugin/controller_methods"

</pre>

<p>In this example Adhearsion plugin:</p>
<ul>
<li>version.rb contains the current version number for the plugin, and is used during packaging.</li>
<li>plugin.rb contains the hooks into the Adhearsion framework that are called when the plugin is loaded by the Adhearsion application.</li>
<li>controller_methods.rb contains a module that gets mixed into the base CallController class, making its methods available to all calls running in Adhearsion.</li>
</ul>
<pre class="brush: ruby;">
# lib/greet_plugin/plugin.rb
module GreetPlugin
  class Plugin < Adhearsion::Plugin
    # Actions to perform when the plugin is loaded
    #
    init :greet_plugin do
      logger.info "GreetPlugin has been loaded"
    end

    # Basic configuration for the plugin
    #
    config :greet_plugin do
      greeting "Hello", :desc => "What to use to greet users"
    end

    # Defining a Rake task is easy
    # The following can be invoked with:
    #   rake plugin_demo:info
    #
    tasks do
      namespace :greet_plugin do
        desc "Prints the PluginTemplate information"
        task :info do
          STDOUT.puts "GreetPlugin plugin v. #{VERSION}"
        end
      end
    end
  end
end
</pre>

<p>plugin.rb contains directives that pertain to various aspects of plugin functionality. Code above shows three examples.</p>
<ul>
<li>The first is the #init block which is invoked by Adhearsion when the plugin is first loaded. In this case, all this does is write an informational message to the log showing that the plugin was, in fact, loaded.</li>
<li>The second is the #config block that registers configuration options with the Adhearsion framework.</li>
<li>The third block is the #tasks block, which registers Rake tasks to be available within the Adhearsion application. In this case it adds a Rake task called greet_plugin:info that prints the version number of the plugin.</li>
</ul>
<h2 id="plugin-initialization"><a class="toclink" href="#plugin-initialization">Plugin Initialization</a></h2>
<p>Every plugin goes through two separate phases before it is ready to run. While Adhearsion is starting up, and prior to taking any calls, the plugin first gets initialized through a supplied #init block. This block may be used to set up any basic requirements or validate the configuration. Later, after the Adhearsion framework has booted, the optional #run block is called to start the plugin. An example of using this two step startup of #init and #run methods might be an IRC plugin. In the #init method, the IRC class is instantiated and configured, but no connection to the server is made. Then in #run the actual connection is opened and the service begins. Both methods are optional, but if they are defined, the mandatory argument is a block to provide the code to be run. An optional symbol representing the plugin name may be provided as the first argument.  A plugin can also request to be initialized before or after another plugin by name, using the :before and :after options passed as an hash to #init and/or #run.</p>
<p>Note that your #run method must not block indefinitely!  If necessary, place the contents of your run block within a thread so that Adhearsion can continue to start the other plugins:</p>
<pre class="brush: ruby">
module GreetPlugin
  class Plugin < Adhearsion::Plugin
    def run
      Thread.new do
        catching_standard_errors { my_blocking_runner_method }
      end
    end
  end
end
</pre>

<p>Note the use of catching_standard_errors.  This ensures that any exceptions raised within your plugin are routed through Adhearsion's exception handling event system.  More information on this can be found in the best practices guide.</p>
<h2 id="plugin-configuration"><a class="toclink" href="#plugin-configuration">Plugin Configuration</a></h2>
<p>The #config block allows a plugin to define configuration values in a customizable and self-documenting way. Every configuration key has a name followed by its default value, and then by a :desc key to allow for a description.  By allowing your plugin to be configured this way, its options will be exposed via rake config:show in an application directory.  Additionally, you will be able to set configuration options via the shell environment, which is handy for services like Heroku.</p>
<p>A config line can also validate supplied values with a transform:</p>
<pre class="brush: ruby;">
max_connections 5, :desc => "Maximum number of connections to make",
                   :transform => lambda { |v| v.to_i }
</pre>

<p>The :transform will be used to modify the configuration value after it is read from the end-user's setting.</p>
<h2 id="plugin-rake-tasks"><a class="toclink" href="#plugin-rake-tasks">Plugin Rake Tasks</a></h2>
<p>The #tasks method allows the plugin developer to define Rake tasks to be made available inside an Adhearsion application. Task definitions follow Rake conventions.</p>
<h2 id="making-a-plugin-useful"><a class="toclink" href="#making-a-plugin-useful">Making a plugin useful</a></h2>
<p>So far, the facilities Adhearsion provides to hook into the framework and your application have been shown. While simple plugins that are nothing more than rake tasks and generators have their place, you probably want to go further.  This section will discuss how to add funtionality to Adhearsion calls.</p>
<p>A plugin is at its heart simply a Ruby gem, and bundled code needs to be loaded through requiring the proper files.
The generated plugin has a single business logic file in lib/controller_methods.rb. Neither the file name nor the module name are mandatory, this is just normal Ruby code.</p>
<h2 id="plugin-code"><a class="toclink" href="#plugin-code">Plugin Code</a></h2>
<p>The generated plugin has a single business logic file in lib/controller_methods.rb. Neither the file name nor the module name are mandatory
Content is as follows:</p>
<p>lib/controller_methods.rb</p>
<pre class="brush: ruby;">
module GreetPlugin
  module ControllerMethods
    # The methods are defined in a normal method the user will then
    # mix in their CallControllers.
    # The following also contains an example of configuration usage.
    #
    def greet(name)
      play "#{Adhearsion.config[:greet_plugin].greeting}, #{name}"
    end
  end
end
</pre>

<p>The module is intended to be used as a mixin in call controllers.</p>
<h3 id="testing-your-code"><a class="toclink" href="#testing-your-code">Testing your code</a></h3>
<p>Module usage can be seen in action in the generated test file, which also illustrates how the call controller methods can be easily tested.</p>
<p>spec/greet_plugin/controller_methods_spec.rb</p>
<pre class="brush: ruby;">
require 'spec_helper'
module GreetPlugin
  describe Plugin do
    describe "mixed in to a CallController" do
      class TestController < Adhearsion::CallController
        include GreetPlugin::ControllerMethods
      end

      let(:mock_call) { mock 'Call' }

      subject do
        TestController.new mock_call
      end

      describe "#greet" do
        it "greets with the correct parameter" do
          subject.expects(:play).once.with("Hello, Luca")
          subject.greet "Luca"
        end
      end
    end
  end
end
</pre>

<p>Since plugin code is a normal Ruby library, it can be tested using familiar tools like Test::Unit or RSpec.</p>
<p>Note that, at first, Adhearsion Routes or XMPP handlers may seem difficult to test.  However, a good practice is to put all your business logic into classes and methods, and then simply invoke the methods from the routes or handlers.  In this way you can maintain good code test coverage and keep your route definitions small and readable.</p>
<h3 id="using-the-plugin"><a class="toclink" href="#using-the-plugin">Using the plugin</a></h3>
<p>You have generated your new plugin, built tests and are ready to use it. Now what?
The plugin is a gem, so you might eventually publish it. In the meantime you can simply use it locally by adding a path line to your application's Gemfile.</p>
<p>Gemfile</p>
<pre class="brush: ruby;">
gem 'adhearsion', '>= 2.0.0'
gem 'greet_plugin', :path => '/home/user/projects/greet_plugin'

# ... whatever other gems you need
</pre>

<p>Do not forget to run 'bundle install' after adding the gem.</p>
<h3 id="adding-an-entire-callcontroller"><a class="toclink" href="#adding-an-entire-callcontroller">Adding an entire CallController</a></h3>
<p>It is also possible to provide a full CallController implementation that can be used out-of-the-box by your application. There is an entire section of the documentation dedicated to <a href="docs/call-controllers">CallControllers</a>.  Please refer to that section for full details on available methods within CallControllers.
Below you will see how to create a new controller in the plugin, complete with new configuration keys and test. Our goal is to have a controller that dials a SIP device during office hours and plays a message when the office is closed.</p>
<h4 id="setup"><a class="toclink" href="#setup">Setup</a></h4>
<p>First, add configuration variables to allow controlling the time-of-day routing:</p>
<p>lib/greet_plugin/plugin.rb</p>
<pre class="brush: ruby;">
config :greet_plugin do
  greeting "Hello", :desc => "What to use to greet users"
  office_hours_start 8, :desc => "Start of office hours, integer, 24 hour format"
  office_hours_end 18, :desc => "End of office hours, integer, 24 hour format"
end
</pre>

<p>One way to make testing time-based features easy is to use the Timecop gem. Just add it to your gemspec under the development group and add "require 'timecop'" at the top of spec/spec_helper.rb.</p>
<h4 id="tests-first"><a class="toclink" href="#tests-first">Tests first!</a></h4>
<p>Now add a few tests, taking advantage of Adhearsion's testing facilities and the generated helpers. The tests describe what will be implemented in the controller.</p>
<p>spec/hours_controller_spec.rb</p>
<pre class="brush: ruby;">
require 'spec_helper'
module GreetPlugin
  describe HoursController do
    let(:mock_call) { mock 'Call' }
    subject do
      HoursController.new mock_call
    end

    it 'dials out when inside office hours' do
      Timecop.freeze Time.utc(2012, 3, 8, 12, 0, 0)
      subject.expects(:dial).once
      subject.run
    end

    it 'plays a message when outside office hours' do
      Timecop.freeze Time.utc(2012, 3, 8, 22, 0, 0)
      subject.expects(:play).once
      subject.run
    end
  end
end
</pre>

<h4 id="the-callcontroller"><a class="toclink" href="#the-callcontroller">The CallController</a></h4>
<p>Last but not least, the actual CallController.</p>
<p>lib/greet_plugin/hours_controller.rb</p>
<pre class="brush: ruby;">
module GreetPlugin
  class HoursController < Adhearsion::CallController
    def run
      if in_office_hours
        dial "SIP/101"
      else
        say "Our office is open between #{config.office_hours_start} and #{config.office_hours_end}. Please call back later."
      end
    end

    private

    def in_office_hours
      Time.now.hour.between? config.office_hours_start, config.office_hours_end
    end

    def config
      Adhearsion.config[:greet_plugin]
    end
  end
end
</pre>

<h4 id="routes"><a class="toclink" href="#routes">Routes</a></h4>
<p>To make calls in the application reach this controller, you will need to create a route. The example below uses a generic route that matches all calls (no filters).</p>
<p>my_application_dir/config/adhearsion.rb</p>
<pre class="brush: ruby;">
Adhearsion.router do
  route 'default', GreetPlugin::HoursController
end
</pre>

<div class='docs-progress-nav'>
  <span class='back'>
    Back to <a href="/docs/logging">Logging</a>
  </span>
  <span class='forward'>
    Continue to <a href="/docs/best-practices">Best Practices</a>
  </span>
</div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'adhearsion';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="clear"></div>
  </div>
</div>

<a href="#" id="main-nav-active" style="display:none;">#main-nav-docs</a>